@import "../../../../scss/variables";
@import "../../../../scss/mixins";

header.header {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: $app-header-h;
  @include header-height;
  width: 100%;
  z-index: 100;
  background: $app-white;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.09);
  left: 0;
  right: 0;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  transition: 1s all;
  @media all and (max-width: $size-lg) {
    z-index: 98;
  }
  @media all and (max-width: $size-md) {
    flex-wrap: wrap;
  }

  .header-container {
    // position: relative;
    display: flex;
    align-items: center;
    padding: 0 15px;
    @media all and (max-width: 767px) {
      // padding: 10px 15px;
      height: 100%;
    }
  }

  &:not(.header-transparent) {
    .header-container {
      @media all and (max-width: 767px) {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .burger {
    position: relative;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
    width: 30px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    transition: width 0.3s ease !important;

    div {
      align-self: flex-start;
      height: 2px;
      width: 100%;
      background: #1e252c;
    }

    .meat {
      width: 75%;
      transition: all 200ms ease-in-out;
    }

    .bottom-bun {
      width: 50%;
      transition: all 400ms ease-in-out;
    }

    &:hover {
      div {
        width: 100%;
      }

      .top-bun {
        animation: burger-hover 1s infinite ease-in-out alternate;
      }

      .meat {
        animation: burger-hover 1s infinite ease-in-out alternate forwards 200ms;
      }

      .bottom-bun {
        animation: burger-hover 1s infinite ease-in-out alternate forwards 400ms;
      }
    }

    @keyframes burger-hover {
      0% {
        width: 100%;
      }
      50% {
        width: 50%;
      }
      100% {
        width: 100%;
      }
    }
  }

  .logo {
    display: inline-block;
    margin-left: 5px;
    margin-right: 100px;
    cursor: pointer;
    max-width: 142px;
    @media all and (max-width: 1580px) {
      margin-right: 32px;
    }
    @media screen and (max-width: 574px) {
      margin-right: 0;
    }
  }

  .header-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
    @media screen and (min-width: $size-iphone) {
      position: relative;
      z-index: 1;
    }
    @media screen and (min-width: $size-ipad) {
      height: 40px;
    }
    @media screen and (max-width: 767px) {
      margin-left: auto;
    }

    .search,
    .filter,
    .city-chooser,
    .lang-switcher,
    .phone-number,
    .profile {
      margin: 0 12.5px;
      transition: all 0.5s ease;

      svg {
        width: 1.4rem !important;

        path,
        circle {
          fill: $app-darken;
          transition: all 0.5s ease;
        }

        &.filter__icon {
          stroke: $app-darken;
          // transition: all .5s ease;
          transition: none !important;
        }
      }

      &:hover,
      &.active {
        svg {
          path,
          circle {
            fill: $hover-menu-item !important;
          }

          &.filter__icon {
            stroke: $hover-menu-item !important;
          }
        }
      }
    }

    .filter {
      @media (max-width: $size-ipad) {
        margin-right: 0;
      }
    }

    .city-chooser,
    .lang-switcher,
    .phone-number,
    .profile {
      position: relative;

      button,
      a {
        background: transparent;
        border: 0;
        outline: none;
        padding: 0;
        font-size: 0.9rem;
        display: flex;
        align-items: center;

        span {
          font-size: 0.9rem;
          display: flex;
          align-items: center;
        }
      }

      svg {
        margin-right: 6px;
      }

      &:hover,
      &.active {
        a,
        span {
          color: $hover-menu-item !important;
        }
      }
    }

    .city-chooser,
    .profile {
      @media screen and (max-width: $size-ipad) {
        display: none !important;
      }
    }

    .phone-number,
    .lang-switcher {
      @media screen and (max-width: $size-lg) {
        display: none;
      }
    }

    .city-chooser {
      margin: 0 7px !important;

      button {
        span {
          // width: 61px;
          // text-overflow: ellipsis;
          // white-space: nowrap;
          // overflow: hidden;
          display: block;
        }
      }
    }

    .phone-number {
      a {
        color: #1e252c;

        svg {
          margin-right: 6px;
        }
      }
    }

    .lang-switcher {
      span {
        text-transform: uppercase;
      }

      .drop-down--button {
        margin: 0 4px;

        &.active {
          color: $app-white;
        }
      }
    }

    .black-drop-down {
      position: absolute;
      top: 100%;
      z-index: 10000;
      background: $app-blue;
      opacity: 0.96;
      padding: 16px;
      box-sizing: border-box;
      border-radius: 3px;
      left: 50%;
      transform: translate3d(-50%, 10px, 0);
      display: flex;
      flex-direction: column;

      &:before {
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent $app-blue transparent;
      }

      h4 {
        display: inline-block;
        width: 150px;
        font-weight: normal;
        font-size: 0.9rem;
        line-height: 20px;
        color: $app-white;
        text-align: center;
        margin: 0 0 8px 0;
      }

      .drop-down-window {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        button {
          border: none;
          background: transparent;
          text-transform: uppercase;
          padding: 4px 8px;
          box-sizing: border-box;
          color: $app-white;
          border-radius: 3px;
          transition: all 0.5s ease;
          min-width: 50px;
          font-size: 1rem;
          justify-content: center;

          &:hover {
            background: #707f8e;
          }

          &.active,
          &.blue {
            background-color: $app-primary;

            &:hover {
              background-color: #3531ff;
            }
          }
        }
      }
    }

    .btn {
      padding: 0;
      background: none;
      border: none;
      outline: none;
    }

    .profile {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-right: 0;

      .avatar {
        margin: 0 5px 0 -12px;
        height: 36px;
        width: 36px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 100%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      }

      .user-info {
        .name {
          margin: 0;
          color: $app-darken;
          font-size: 0.9rem;
          width: 50px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: pre;
        }

        .user-bonuses {
          display: flex;
          align-items: center;
          margin: 0;
          color: $app-blue;
          font-size: 0.8rem;
          font-weight: 500;
          padding: 0;
          line-height: 1;

          ::ng-deep {
            mat-icon {
              &.mat-icon {
                margin-right: 2px;
                width: 16px;
                height: auto;
                font-size: 0.9rem;
                color: $app-border;
              }
            }
          }
        }
      }

      button {
        svg {
          width: 1rem !important;
        }
      }

      &-text {
        &:hover {
          color: $hover-menu-item;
        }
      }
    }
  }

  .search__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 0;
    right: calc(100% - 40px);
    // left: 220px;
    background: $app-white;
    border: 1px solid $app-border;
    border-radius: 3px;
    z-index: 999;
    transition: all 0.3s ease;
    visibility: hidden;
    overflow: hidden;
    @media screen and (max-width: $size-md) {
      // left: 15px;
    }
    @media screen and (max-width: 575px) {
      right: 55px;
      top: 4px;
    }

    &.active {
      visibility: visible;
      transition: all 0.3s ease;
      width: 700px;
      max-width: 700px;
      @media screen and (max-width: 1580px) {
        // width: calc(1370px - 615px);
      }
      @media screen and (max-width: 1400px) {
        width: calc(90vw - 650px);
      }
      @media screen and (max-width: 1300px) {
        // width: calc(90vw - 580px);
      }
      @media screen and (max-width: $size-lg) {
        width: calc(90vw - 380px);
      }
      @media screen and (max-width: $size-ipad) {
        width: calc(90vw - 190px);
      }
      @media screen and (max-width: 767px) {
        width: calc(90vw - 195px);
        // width: 366px;
      }
      @media screen and (max-width: 575px) {
        width: calc(100vw - 66px);
        // width: 366px;
      }
    }

    input {
      margin: 8px 0 6px 5px;
      border: none;
      outline: none;
      width: 100%;

      &::placeholder {
        color: $app-border;
      }
    }

    ::ng-deep {
      mat-icon {
        cursor: pointer;

        &:first-child {
          margin-left: 10px;
        }

        &:last-child {
          margin-right: 8px;
        }

        &.mat-icon {
          color: $app-border;
        }
      }
    }
  }

  .search__result {
    display: none;
    justify-content: center;
    // flex-wrap: wrap;
    position: absolute;
    right: calc(100% - 40px);
    top: 41px;
    z-index: 90;
    // overflow: auto;
    border-radius: 3px;
    // -webkit-overflow-scrolling:touch;
    background: $app-white;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.308);
    max-height: calc(100vh - 90px);
    width: 700px;
    max-width: 700px;
    flex-direction: column;
    overflow: hidden;
    @media screen and (max-width: 1580px) {
      // width: calc(1370px - 615px);
    }
    @media screen and (max-width: 1400px) {
      width: calc(90vw - 650px);
    }
    @media screen and (max-width: 1300px) {
      // width: calc(90vw - 580px);
    }
    @media screen and (max-width: $size-lg) {
      width: calc(90vw - 380px);
    }
    @media screen and (max-width: $size-ipad) {
      width: calc(90vw - 190px);
      top: 33px;
      max-height: calc(100vh - #{$app-header-h-ipad} - 56px);
    }
    @media screen and (max-width: 767px) {
      width: calc(90vw - 195px);
      // width: 366px;
    }
    @media screen and (max-width: 575px) {
      // position: fixed;
      width: 100vw;
      top: 56px;
      left: 0;
      right: 0;
      bottom: 0;
      height: calc(100vh - #{$app-header-h-iphone} - 56px);
      max-height: calc(100vh - #{$app-header-h-iphone} - 56px);
      // max-height:calc(100vh - 70px);
      border-radius: 0;
      justify-content: flex-start;
      padding-bottom: 90px;
      padding: 0;
      box-shadow: 0 0 0 transparent;
      z-index: -1;
      // display: flex !important;
      // flex-direction: column;
      // flex-wrap: initial;
    }

    &.active {
      display: flex;
      @media screen and (max-width: $size-iphone) {
        // display: block;
      }
    }

    .search-result-events {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      flex-grow: 1;
      padding: 0 24px;
      @media screen and (max-width: $size-iphone) {
        padding: 0 15px 120px;
      }
    }

    .event-card-item {
      display: flex;
      align-items: flex-start;
      padding: 24px 0;
      margin-bottom: 0;
      box-shadow: none;
      border-radius: 0;
      width: 100%;
      height: auto;

      &:not(:first-child) {
        border-top: 2px dotted $app-border;
      }

      @media screen and (max-width: $size-ipad) {
        padding: 20px 0;
      }

      ::ng-deep {
        display: flex;
        align-items: stretch;
        flex-direction: row;
        @media screen and (max-width: $size-md) {
        }

        .event-image {
          display: block;
          height: 90px;
          width: 100%;
          max-width: 26%;
          border-radius: 3px;
          @media screen and (max-width: 1400px) and (min-width: 768px) {
            // height: 90px;
            padding: 0;
          }
          @media screen and (max-width: $size-md) {
            width: 35%;
            max-width: 35%;
            // height: 150px;
          }
          @media screen and (max-width: 575px) {
            // height: 90px;
          }

          .heart {
            display: none;
          }
        }

        .event-info {
          padding: 0 0 0 10px;
          background-color: #ffffff;
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          width: 74%;
          max-width: 74%;
          justify-content: flex-end;
          flex-direction: row;
          @media screen and (max-width: $size-md) {
            width: 65%;
            max-width: 65%;
            flex-direction: column;
            justify-content: space-between;
          }

          .wrapper {
            width: 50%;

            &:first-child {
              width: 40%;
              @media screen and (max-width: $size-lg) {
                width: 100%;
                padding-bottom: 10px;
              }
            }

            &:last-child {
              width: 60%;
              padding-left: 15px;
              @media screen and (max-width: $size-lg) {
                width: 100%;
                padding-left: 0;
              }
            }

            h3 {
              font-size: 1.1rem;
              line-height: 21px;
              margin-bottom: 10px;
              max-height: 44px;
              @media all and (max-width: $size-ipad) {
                font-size: 1rem;
              }
            }

            .event-card--location {
              margin-bottom: 0;
            }

            .event-card--date-price {
              margin-bottom: 10px;
              @media all and (max-width: $size-iphone) {
                flex-wrap: wrap;
              }

              .event-card--date,
              .event-card--price {
                font-size: 0.9rem;
                color: $app-darken;
                white-space: nowrap;
                @media all and (max-width: 375px) {
                  width: 100%;
                }

                span {
                  font-size: 0.9rem;
                }
              }
            }

            .btn-primary {
              padding: 0 15px !important;
              font-size: 1rem;
            }
          }
        }

        .heart {
          display: none !important;
        }
      }
    }

    .empty {
      font-size: 1rem;
      color: $app-border;
    }

    .all {
      display: inline-block;
      margin: 30px auto;
      position: relative;
      padding: 10px 15px;
      background: #2b27da;
      border-radius: 3px;
      width: 280px;
      border: 0;
      font-size: 1.1rem;
      transition: all 0.3s ease;
      @media all and (max-width: $size-iphone) {
        margin: 0;
        position: fixed;
        // position: relative;
        width: 100%;
        min-width: 0;
        // left: 0;
        bottom: 0;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        line-height: inherit;
        padding: 16px 15px;
      }

      &:hover {
        background: #3531ff;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.308);
      }

      &:active {
        background: #2824d2;
      }

      .text {
        color: $app-white;
        font-size: 0.9rem;
        text-transform: uppercase;
        @media all and (max-width: $size-iphone) {
          margin-right: 2.5px;
        }
      }

      .count {
        display: block;
        position: absolute;
        background: $app-alert;
        border-radius: 100%;
        height: 24px;
        width: 24px;
        font-size: 1rem;
        color: $app-white;
        top: -12px;
        right: -12px;
        @media all and (max-width: $size-iphone) {
          right: inherit;
          left: inherit;
          top: inherit;
          position: relative;
          display: flex;
          background: transparent;
          font-weight: 700;
          margin-left: 2.5px;
          &:before {
            content: "(";
            display: block;
          }
          &:after {
            content: ")";
            display: block;
          }
        }
      }
    }
  }

  &.header-transparent {
    background: transparent;
    box-shadow: none;
    //transition: background 0.3s ease;
    @media (max-width: $size-iphone) {
      background: rgba(10, 11, 29, 0.62);
    }

    .burger {
      div {
        background: $app-white;
      }
    }

    .logo {
      svg {
        path {
          fill: #ffffff;

          &:last-child,
          &:nth-child(9) {
            fill: #ff3636;
          }
        }
      }
    }

    app-navigation {
      @media all and (max-width: 767px) {
        display: none;
      }

      ::ng-deep {
        nav.navigation#navigation {
          .main-menu {
            li {
              opacity: 1;
              transition: none;

              a {
                color: $app-white;
                transition: none;
              }
            }
          }

          .main-menu--more {
            .btn-dots {
              &,
              &:after,
              &:before {
                background-color: $app-white !important;
                transition: none !important;
              }
            }
          }
        }
      }
    }

    .header-actions {
      .search,
      .filter,
      .city-chooser,
      .lang-switcher,
      .phone-number,
      .profile {
        * {
          transition: none !important;
        }

        svg {
          path,
          circle {
            fill: $app-white;
          }

          &.filter__icon {
            stroke: $app-white;
          }
        }
      }

      .city-chooser button span,
      .lang-switcher button span,
      .phone-number a span,
      .profile span,
      .profile .user-info p {
        color: $app-white;
      }
    }
  }

  &.header-home {
    @media all and (max-width: 767px) {
      //top: -200px !important;
      //transition: top 0.3s ease-in-out;
    }
  }

  &.hideHeader {
    @media all and (max-width: 767px) {
      top: -130px;
    }
  }
}

.header-categories-sticky {
  width: 100%;
  position: relative;
  z-index: 101;
  top: calc(100vh - 56px);
  display: none;

  app-navigation {
    display: block !important;
  }

  &.hideCategories {
    opacity: 0;
  }

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.header-padding {
  width: 100%;
  @include header-height;
}

.overlay-for-filter {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: none;
  z-index: 98;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: background-color, visibility;
  background-color: rgba(0, 0, 0, 0.6);
}

.overlay-for-filter.open {
  display: block;
  @media all and (max-width: $size-lg) {
    display: block;
    z-index: 99;
  }
}

app-form-mobile-filter {
  display: block;
  height: 100vh;
  width: 318px;
  position: fixed;
  z-index: -2;
  top: 0;
  right: 0;
}

app-form-mobile-filter.filter-open {
  z-index: 600;
}
