<header class="header" id="header" #mainHeader>
  <div class="header-container">
    <span (click)="reloadPage()" class="logo aaa">
             <!--<svg width="142" height="50" viewBox="0-->
      <!--0 142 50" fill="none" xmlns="http://www.w3.org/2000/svg">-->
      <!--<path-->
      <!--d="M45.348 31.5395C44.2606 31.5395 43.2061 31.3954 42.1842 31.1072C41.1755 30.8059 40.3633 30.4194 39.7476 29.9478L40.8283 27.5504C41.4179 27.9828 42.1187 28.3299 42.9309 28.5919C43.7432 28.8539 44.5554 28.9849 45.3676 28.9849C46.2715 28.9849 46.9397 28.8539 47.372 28.5919C47.8043 28.3168 48.0204 27.9566 48.0204 27.5111C48.0204 27.1836 47.8894 26.9151 47.6274 26.7055C47.3785 26.4828 47.051 26.3059 46.6449 26.1749C46.2519 26.0439 45.7148 25.8998 45.0336 25.7426C43.9855 25.4937 43.1275 25.2448 42.4593 24.9959C41.7912 24.747 41.2148 24.3474 40.7301 23.7972C40.2585 23.247 40.0227 22.5133 40.0227 21.5963C40.0227 20.7972 40.2388 20.0767 40.6711 19.4348C41.1034 18.7797 41.7519 18.2623 42.6165 17.8824C43.4943 17.5025 44.5619 17.3125 45.8196 17.3125C46.6973 17.3125 47.5554 17.4173 48.3938 17.6269C49.2322 17.8365 49.9659 18.1378 50.5947 18.5308L49.6121 20.9479C48.3414 20.2273 47.0707 19.8671 45.7999 19.8671C44.9091 19.8671 44.2475 20.0112 43.8152 20.2994C43.396 20.5876 43.1864 20.9675 43.1864 21.4391C43.1864 21.9107 43.4288 22.2644 43.9135 22.5002C44.4113 22.723 45.1646 22.9457 46.1733 23.1684C47.2213 23.4173 48.0794 23.6662 48.7475 23.9151C49.4156 24.164 49.9855 24.557 50.4571 25.0941C50.9418 25.6312 51.1842 26.3583 51.1842 27.2753C51.1842 28.0614 50.9615 28.7819 50.5161 29.4369C50.0838 30.0788 49.4287 30.5897 48.551 30.9696C47.6733 31.3495 46.6056 31.5395 45.348 31.5395Z"-->
      <!--fill="#2B27DA"></path>-->
      <!--<path-->
      <!--d="M60.021 31.5395C58.593 31.5395 57.3026 31.2316 56.1498 30.6159C55.0101 30.0002 54.1127 29.1552 53.4577 28.081C52.8157 26.9937 52.4948 25.7753 52.4948 24.426C52.4948 23.0767 52.8157 21.8649 53.4577 20.7906C54.1127 19.7033 55.0101 18.8518 56.1498 18.2361C57.3026 17.6204 58.593 17.3125 60.021 17.3125C61.4489 17.3125 62.7327 17.6204 63.8725 18.2361C65.0122 18.8518 65.9096 19.7033 66.5646 20.7906C67.2196 21.8649 67.5471 23.0767 67.5471 24.426C67.5471 25.7753 67.2196 26.9937 66.5646 28.081C65.9096 29.1552 65.0122 30.0002 63.8725 30.6159C62.7327 31.2316 61.4489 31.5395 60.021 31.5395ZM60.021 28.8277C60.8332 28.8277 61.5668 28.6443 62.2218 28.2775C62.8768 27.8976 63.3877 27.3736 63.7546 26.7055C64.1345 26.0373 64.3244 25.2775 64.3244 24.426C64.3244 23.5745 64.1345 22.8147 63.7546 22.1465C63.3877 21.4784 62.8768 20.961 62.2218 20.5941C61.5668 20.2142 60.8332 20.0243 60.021 20.0243C59.2087 20.0243 58.4751 20.2142 57.8201 20.5941C57.1651 20.961 56.6476 21.4784 56.2677 22.1465C55.9009 22.8147 55.7175 23.5745 55.7175 24.426C55.7175 25.2775 55.9009 26.0373 56.2677 26.7055C56.6476 27.3736 57.1651 27.8976 57.8201 28.2775C58.4751 28.6443 59.2087 28.8277 60.021 28.8277Z"-->
      <!--fill="#2B27DA"></path>-->
      <!--<path d="M69.9396 17.5483H73.123V28.7098H80.0203V31.3037H69.9396V17.5483Z" fill="#2B27DA"></path>-->
      <!--<path-->
      <!--d="M81.799 17.5483H88.0479C89.5413 17.5483 90.8579 17.8365 91.9976 18.4129C93.1505 18.9762 94.0413 19.7754 94.6701 20.8103C95.312 21.8452 95.633 23.0505 95.633 24.426C95.633 25.8015 95.312 27.0068 94.6701 28.0417C94.0413 29.0766 93.1505 29.8823 91.9976 30.4587C90.8579 31.022 89.5413 31.3037 88.0479 31.3037H81.799V17.5483ZM87.8907 28.6902C89.2662 28.6902 90.3601 28.3103 91.1723 27.5504C91.9976 26.7775 92.4103 25.736 92.4103 24.426C92.4103 23.116 91.9976 22.081 91.1723 21.3212C90.3601 20.5483 89.2662 20.1618 87.8907 20.1618H84.9824V28.6902H87.8907Z"-->
      <!--fill="#2B27DA"></path>-->
      <!--<path-->
      <!--d="M106.275 31.8779C104.913 31.8779 103.675 31.5766 102.561 30.974C101.461 30.3583 100.596 29.5198 99.9675 28.4587C99.3518 27.3976 99.0439 26.2055 99.0439 24.8823C99.0439 23.5592 99.3518 22.367 99.9675 21.3059C100.596 20.2448 101.461 19.4129 102.561 18.8103C103.675 18.1946 104.913 17.8867 106.275 17.8867C107.638 17.8867 108.863 18.188 109.95 18.7906C111.05 19.3933 111.915 20.2317 112.544 21.3059C113.173 22.367 113.487 23.5592 113.487 24.8823C113.487 26.2055 113.173 27.4041 112.544 28.4784C111.915 29.5395 111.05 30.3714 109.95 30.974C108.863 31.5766 107.638 31.8779 106.275 31.8779ZM106.275 30.581C107.363 30.581 108.345 30.3386 109.223 29.8539C110.101 29.3561 110.788 28.6749 111.286 27.8103C111.784 26.9325 112.033 25.9565 112.033 24.8823C112.033 23.8081 111.784 22.8387 111.286 21.974C110.788 21.0963 110.101 20.4151 109.223 19.9304C108.345 19.4326 107.363 19.1837 106.275 19.1837C105.188 19.1837 104.199 19.4326 103.308 19.9304C102.43 20.4151 101.736 21.0963 101.225 21.974C100.727 22.8387 100.478 23.8081 100.478 24.8823C100.478 25.9565 100.727 26.9325 101.225 27.8103C101.736 28.6749 102.43 29.3561 103.308 29.8539C104.199 30.3386 105.188 30.581 106.275 30.581Z"-->
      <!--fill="#2B27DA"></path>-->
      <!--<path-->
      <!--d="M122.288 31.8779C120.506 31.8779 119.118 31.367 118.122 30.3452C117.126 29.3233 116.629 27.8365 116.629 25.8845V18.0046H118.083V25.8255C118.083 27.4238 118.443 28.6159 119.164 29.4019C119.884 30.188 120.926 30.581 122.288 30.581C123.663 30.581 124.712 30.188 125.432 29.4019C126.153 28.6159 126.513 27.4238 126.513 25.8255V18.0046H127.928V25.8845C127.928 27.8365 127.43 29.3233 126.434 30.3452C125.452 31.367 124.07 31.8779 122.288 31.8779Z"-->
      <!--fill="#2B27DA"></path>-->
      <!--<path d="M134.713 19.2623H129.879V18.0046H141.002V19.2623H136.168V31.76H134.713V19.2623Z" fill="#2B27DA"></path>-->
      <!--<path fill-rule="evenodd" clip-rule="evenodd"-->
      <!--d="M16.9158 12.8361C16.9158 12.8361 14.8774 14.6562 14.3042 16.0603C13.622 17.7316 13.3936 18.5754 13.8488 20.3223C14.3553 22.2657 16.7717 24.2043 16.7717 24.2043L18.0579 23.3961C17.9788 23.2723 17.9361 23.1356 17.9391 22.9928C17.9503 22.4561 18.6013 22.0346 19.393 22.0511C19.6189 22.0559 19.8319 22.0958 20.0207 22.1628L22.0306 20.9C22.0306 20.9 20.5856 19.9961 19.7552 19.291C19.0303 18.6755 18.5321 18.1714 17.9202 17.3138L17.9077 17.2963C17.4412 16.6425 17.1729 16.2665 16.8808 15.4998C16.5254 14.567 16.9158 12.8361 16.9158 12.8361Z"-->
      <!--fill="#2B27DA"></path>-->
      <!--<path-->
      <!--d="M23.4031 14.7841L20.429 10.1067C19.9128 10.4209 17.6811 11.9604 17.2563 12.4529C15.5178 14.0639 16.7452 16.3215 18.323 17.8587C18.2993 17.8487 18.3461 17.8689 18.323 17.8587L23.4031 14.7841Z"-->
      <!--fill="#FF3636"></path>-->
      <!--<path fill-rule="evenodd" clip-rule="evenodd"-->
      <!--d="M29.5834 31.6009C29.5834 31.6009 33.0012 28.9666 34.0639 26.8207C35.3289 24.2663 35.7848 22.9634 35.2669 20.1603C34.6908 17.0418 31.1061 13.7133 31.1061 13.7133L28.9877 14.8398C29.0983 15.044 29.1499 15.264 29.1289 15.4887C29.0501 16.3326 27.9768 16.9224 26.7318 16.8061C26.3764 16.7728 26.0455 16.6857 25.7558 16.5585L22.4472 18.3178C22.4472 18.3178 24.6198 19.9062 25.8473 21.1113C26.9189 22.1633 27.646 23.014 28.5119 24.4343L28.5296 24.4633C29.1897 25.5462 29.5694 26.169 29.9421 27.4098C30.3955 28.9193 29.5834 31.6009 29.5834 31.6009Z"-->
      <!--fill="#2B27DA"></path>-->
      <!--<path-->
      <!--d="M19.5913 27.7949L23.7421 35.5004C24.5909 35.0644 28.2811 32.8942 29.0062 32.167C31.9278 29.828 30.2521 26.1324 27.9425 23.5317C27.9786 23.5501 27.9072 23.5129 27.9425 23.5317L19.5913 27.7949Z"-->
      <!--fill="#FF3636"></path>-->
      <!--</svg>-->
      <img src="/assets/images/toHall.svg" height="20" alt="">
            До залу
    </span>
    <div class="header-actions">
      <div class="phone-number">
        <a href="tel:+0800505702">
          <svg class="main-menu--icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.62 10.79C8.06 13.62 10.38 15.93 13.21 17.38L15.41 15.18C15.68 14.91 16.08 14.82 16.43 14.94C17.55 15.31 18.76 15.51 20 15.51C20.55 15.51 21 15.96 21 16.51V20C21 20.55 20.55 21 20 21C10.61 21 3 13.39 3 4C3 3.45 3.45 3 4 3H7.5C8.05 3 8.5 3.45 8.5 4C8.5 5.25 8.7 6.45 9.07 7.57C9.18 7.92 9.1 8.31 8.82 8.59L6.62 10.79Z">
            </path>
          </svg>
          <span>0800 505 702</span>
        </a>
      </div>
    </div>
  </div>
</header>


