.btn-primary {
  width: 316px;
  display: inline-block !important;
  height: auto;
  padding: 7px 10px !important;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;

  &--stroked {
    width: 100%;

    &.mat-stroked-button {
      border: 2px solid $app-primary;
    }
  }
}

.btn-link {
  padding: 0;
  color: $app-primary;;
  background-color: transparent;
  border: none;
  transition: all 0.45s;
  cursor: pointer;

  &:hover {
    color: darken($app-primary, 10%);
    text-decoration: underline;
  }
}
