.error{
  border: 1px solid;
  margin: 10px 0;
  padding: 5px 10px 5px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  font-size: 0.75rem;
  padding-left: 15px;
  font-family: sans-serif;
  border-radius: 5px;
}
