<div class="ticket-color" [style.backgroundColor]="color">
  <div class="circles first"></div>
  <div class="circles second"></div>
</div>
<div class="title-wrapper">
  <ng-container *ngIf="seat">
    <div *ngIf="!seat.fanzone">
      <div class="title" *ngIf="row && seatPosition">{{name ? name : 'Row' | translate}} {{row}},
        {{"a place" | translate}} {{seatPosition}}</div>
      <div class="subtitle" *ngIf="sector">
        {{sector}}
      </div>
    </div>
    <div *ngIf="seat.fanzone">
      {{sector ? sector : 'fanZone' | translate}}
    </div>
  </ng-container>
  <div class="subtitle" *ngIf="comment">{{ comment }}</div>
</div>
<div class="price"><b>{{price}}</b> {{ 'hrn' | translate }}</div>
<button class="btn-remove" *ngIf="canRemove" (click)="remove()">
  <svg width="13" height="13" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M19.3334 2.54602L17.4534 0.666016L10.0001 8.11935L2.54675 0.666016L0.666748 2.54602L8.12008 9.99935L0.666748 17.4527L2.54675 19.3327L10.0001 11.8793L17.4534 19.3327L19.3334 17.4527L11.8801 9.99935L19.3334 2.54602Z"
      fill="#A5ADB6" />
  </svg>
</button>