@import "../../../scss/variables";

:host {
  display: flex;
  align-items: center;
  background-color: #F9F9F9;
  border-radius: 3px;
  // margin:5px 0;
  &:not(:last-child){
    margin-bottom: 7px;
  }
  &:first-child{
    // margin-top: 25px;
  }
  &:last-child{
    // margin-bottom: 25px;
  }
}

.ticket-color {
  position: relative;
  width: 27px;
  height: 62px;
  border-radius: 3px 0 0 3px;
  overflow: hidden;
}
.circles {
  left: -2px;
  &,
  &:before,
  &:after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    left: -0px;
  }

  &.first {
    top: 15px;
    &:before {
      top: -9px;
    }
    &:after {
      bottom: -9px;
    }
  }

  &.second {
    bottom: 15px;
    &:before {
      top: -9px;
    }
    &:after {
      bottom: -9px;
    }
  }
}

.title-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin-left: 15px;
  font-family: 'Open Sans';
  .title {
    color: $app-blue;
  }
  .subtitle {
    color: $app-blue;
    font-size: .875rem;
    line-height: 1;
  }
  >div{
    &:first-child{
      font-weight: 600;
      font-size: 1.125rem;
    }
  }
}


.price {
  // width: 20%;
  white-space: nowrap;
  font-size: .875rem;
  line-height: 25px;
  font-family: 'Open Sans';
  color: $app-blue;
  margin-left: auto;
  b{
    font-size: 1.125rem;
    font-weight: 600;
  }
}

.btn-remove {
  border: none;
  background: no-repeat;
  margin-left: 20px;
  margin-right: 15px;
  width: 25px;
  height: 29px;
  @media (max-width: $size-old-phone){
    margin-left: 10px;
    margin-right: 10px;
  }
  svg{
    width: 14px;
    height: 14px;
  }
}
