@import "../../../scss/variables";

:host {
  display: block;
  max-width: 400px;
  width: 400px;
  @media all and (min-width: $size-ipad) {
    height: calc(100vh - #{$app-header-h} - 90px);
    overflow: auto;
  }
  @media all and (max-width: $size-ipad) {
    max-width: 100%;
    width: 100%;
    // margin-bottom: 15px;
    // margin-top: 30px;
  }
  @media all and (max-width: $size-md) {
    // margin-top: 0;
    // margin-bottom: 41px;
  }
  @media all and (max-width: $size-iphone) {
  }
}

.payment-tickets {
  padding: 20px 0;
  height: 100%;
  // overflow-y: auto;
  @media all and (max-width: $size-ipad) {
    display: none;
  }
}

.event-location {
  margin-bottom: 25px;
  display: flex;
  @media all and (max-width: $size-ipad) {
    margin: 17px 0 10px 0;
  }

  span {
    font-size: 1.1rem;
    line-height: 21px;
    margin-bottom: 0;
    color: #001B36;
    @media all and (max-width: $size-ipad) {
      font-size: 0.9rem;
      line-height: 16px;
    }
  }

  .icon-location {
    margin-right: 20px;
    margin-left: 4px;
    @media all and (max-width: $size-ipad) {
      margin: -2px 15px 0 0;
      width: 14px;
    }
  }
}
.event-date {
  width: 100%;
  padding: 0 10px 0 40px;
  background-image: url("/assets/images/notification.svg");
  background-position: 0 center;
  background-repeat: no-repeat;
  @media all and (max-width: $size-ipad) {
    font-size: 0.9rem;
    line-height: 21px;
    margin-bottom: 0;
    color: #001B36;
    background-size: 20px;
    background-color: transparent;
    background-position: 0 4px;
    padding: 0 10px 0 30px;
    width: auto;
    min-width: 280px;
  }
  @media all and (max-width: $size-old-phone) {
    font-size: 0.7rem;
  }
}
.btn-back {
  padding: 0;
  border: none;
  background: transparent;
  margin-bottom: 30px;
  line-height: 35px;
  @media all and (max-width: $size-ipad) {
    // margin-bottom: 15px;
    display: none;
  }
  @media all and (max-width: $size-md) {
  }
  .fa {
    margin-right: 10px;
    color: $app-primary;
  }

  &:hover {
    color: $app-primary;
  }
}

.wrapper-overlay {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: linear-gradient(rgba(white, .6), rgba(white, .9)); 
    // background-color: rgba(255, 255, 255, 0.574);
  }
}
.event-info {
  margin: 0;
  padding: 0 0 30px 28px;
  border-bottom: 2px dotted #A5ADB6;
  @media all and (max-width: $size-ipad) {
    padding: 10px 10px 5px;
    display: flex;
    border: 0;
    margin: 0;
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  }
  @media all and (max-width: $size-iphone) {
    padding: 10px 10px 7px;
    min-height: 96px;
  }
  // @media all and (max-width: $size-md) {
  //   display: flex;
  // }
  .event-image{
    display: none;
    @media all and (max-width: $size-ipad){
      display: block;
      width: 72px;
      height: 72px;
      object-fit: cover;
      object-position: center;
      margin-right: 10px;
    }
  }
  .event-title {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 28px;
    display: flex;
    align-items: center;
    // margin-left: 16px;
    margin-bottom: 1.5rem;
    @media all and (max-width: 1400px) {
      font-size: 1.3rem;
      margin-bottom: 1.1rem;
    }
    @media all and (max-width: $size-ipad) {
      font-size: 0.9rem;
      line-height: 16px;
      margin-bottom: 0;
      height: 24px;
      overflow: hidden;
      display: flex;
      align-items: flex-start;
    }
    @media all and (max-width: $size-md) {
    }
    @media all and (max-width: 420px){
      height: 18px;
      font-size: 12px;
    }
  }

  .event-location {
    margin-bottom: 25px;
    display: flex;
    @media all and (max-width: 1400px) {
      margin-bottom: 15px;
    }
    @media all and (max-width: $size-ipad) {
      // margin: 17px 0 10px 0;
      position: relative;
      margin: 0;
      height: 33px;
      overflow: hidden;
    }
    @media all and (max-width: $size-md) {
    }
    @media all and (max-width: $size-iphone) {
      margin: 0;
      height: 30px;
      overflow: hidden;
      display: flex;
      align-items: flex-start;
      padding-top: 3px;
      padding-left: 0;
    }

    // span {
    //   font-size: 1.1rem;
    //   line-height: 21px;
    //   margin-bottom: 0;
    //   color: #001B36;
    //   @media all and (max-width: $size-ipad) {
    //     font-size: 0.9rem;
    //     line-height: 16px;
    //   }
    //   @media all and (max-width: $size-iphone) {
    //     font-size: 12px;
    //     line-height: 14px;

    //   }
    // }

    // .icon-location {
    //   margin-right: 20px;
    //   margin-left: 4px;
    //   @media all and (max-width: $size-ipad) {
    //     width: 14px;
    //     top: 0;
    //     left: 0;
    //     position: absolute;
    //   }
    //   @media all and (max-width: $size-iphone) {
    //     margin: -3px 15px 0 0;
    //     width: 10px;
    //     position: relative;
    //     left: 5px;
    //     top: 2px;
    //   }

    // }
  }


  .event-location,
  .event-date{
    .img-wrap{
      width: 24px;
      min-width: 24px;
      margin-right: 10px;
      text-align: center;
      @media all and (max-width: $size-ipad) {
        width: 20px;
        min-width: 20px;
      }
      @media all and (max-width: $size-iphone) {
        width: 16px;
        min-width: 16px;
      }
      >img{
        max-width: 100%;
        @media all and (max-width: $size-ipad) {
          margin: 0;
        }
      }
    }
    span {
      font-size: .875rem;
      line-height: 21px;
      margin-bottom: 0;
      color: #001B36;
      @media all and (max-width: $size-ipad) {
        font-size: 12px;
        line-height: 28px;
      }
      @media all and (max-width: $size-iphone) {
        font-size: 10px;
        // line-height: 14px;
      }
      b{
        font-size: 1.125rem;
        line-height: 21px;
        font-weight: 600;
        @media all and (max-width: 1400px) {
          font-size: 0.9rem;
        }
        @media all and (max-width: $size-ipad) {
          font-size: 0.875rem;
          line-height: 28px;
        }
        @media all and (max-width: $size-iphone) {
          font-size: 12px;
          // line-height: 14px;
        }
      }
    }
  }
  .event-date {
    width: 100%;
    padding: 0;
    // background-image: url("/assets/images/notification.svg");
    // background-position: 0 center;
    // background-repeat: no-repeat;
    background: none;
    display: flex;
    @media all and(max-width: $size-ipad){
      font-size: 0.9rem;
      line-height: 21px;
      margin-bottom: 0;
      color: #001B36;
      // padding: 0 10px 0 30px;
      width: auto;
      min-width: 280px;
    }
    @media all and(max-width: $size-iphone){
      // padding: 5px 10px 5px 25px !important;
      // font-size: 0.8rem !important;
    }
    @media all and (max-width: 420px){
      min-width: 230px !important;
      width: 230px !important;
      font-size: 0.7rem !important;
    }
    ::ng-deep{
      mat-select{
        ::ng-deep{
          .mat-select-value-text{
            font-size: 1.125rem;
            line-height: 21px;
            color: #001B36;
            @media all and (max-width: $size-ipad) {
              font-size: 1rem;
              line-height: 16px;
            }
            @media all and(max-width: $size-iphone){
              font-size: 0.875rem;
            }
          }
        }
      }
    }
  }
}
