<button class="btn-back" matStepperPrevious>
  <i class="fa fa-chevron-left"></i>
  {{"Back to seat selection" | translate}}
</button>
<div class="wrapper-overlay">
  <div class="event-info">
    <img class="event-image" *ngIf="event?.image[0]" src="{{event?.image[0].path | imgUrl}}" [alt]="event?.name.valueUA">
    <img class="event-image" *ngIf="!event?.image[0]" src="{{event?.mainImageSmall.path | imgUrl}}"
         [alt]="event?.name.valueUA">
    <div class="info-wrapper">
      <h5 class="event-title">{{ event?.name | appTranslate }}</h5>
      <div class="event-location">
        <div class="img-wrap">
          <img src="/assets/images/location.svg" alt="Location">
        </div>
        <span>
          <b>{{ event?.platformHall?.city.dictionary | appTranslate }}</b>,
          {{ event?.platformHall?.address | appTranslate }}
        </span>
      </div>
      <div class="event-date">
        <div class="img-wrap">
          <img src="/assets/images/notification.svg" alt="Notification">
        </div>
        <span>
          <b>{{ event?.dataBegin | date:'d' }}</b>
          {{ (event?.dataBegin | date:'MMMM') | translate }}
          {{ event?.dataBegin | date:'yyyy' }},
          {{ (event?.dataBegin | date:'EEEE') | translate }}
          <b>{{ event?.dataBegin | date:'HH:mm'}}</b>
        </span>
      </div>
    </div>

  </div>
  <div class="payment-tickets">
    <app-booking-ticket *ngFor="let item of bin" [id]="item.id" [row]="item.row" [seatPosition]="item.seatPosition"
                        [sector]="item.sector" [seat]="item.seat" [price]="item.colorPrice.price"
                        [color]="item.colorPrice.color"
                        [name]="item.ticketGroupWithOutSachem?.name | appTranslate"
                        [comment]="item.ticketGroupWithOutSachem?.comment | appTranslate"
                        [canRemove]="false"></app-booking-ticket>
  </div>

</div>
