h1, h2, h3, h4, h5 {
  font-family: 'Roboto';
  font-style: normal;
  line-height: normal;
}

h1 {
  font-size: 5.4rem;
}

h2 {
  font-size: 3.7rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

b {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
