@import "../../../scss/variables";

:host {
  display: block;
  min-width: 443px;
  width: 443px;
  height: calc(100vh - #{$app-header-h});
  background: #ffffff;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.09);
  position: relative;
  z-index: 200;
  @media all and (max-width: 1400px) {
    max-width: 420px;
    min-width: 420px;
    width: 420px;
  }
  @media all and (max-width: $size-ipad) {
    width: 100%;
    min-width: 100%;
    height: auto;
    box-shadow: none;
    order: 1;
  }
}

:host ::ng-deep {
  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-infix {
    border: none;
    text-transform: lowercase;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}

aside {
  display: flex;
  flex-direction: column;
  @media all and (min-width: $size-ipad) {
    overflow: auto;
    height: calc(100vh - #{$app-header-h});
    padding-bottom: 192px;
  }
  @media all and (min-width: 1401px) {
    padding-bottom: 229px;
  }
}

%wrapper-padding {
  padding: 25px 50px 30px;
}

.event-info {
  margin: 0 45px;
  padding: 35px 18px;
  border-bottom: 2px dotted #a5adb6;
  @media all and (max-width: 1400px) {
    padding: 20px 18px;
  }
  @media all and (max-width: $size-ipad) {
    padding: 10px;
    border: 0;
    margin: 0;
    position: relative;
    z-index: 1;
    background: $app-white;
    display: flex;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    padding-bottom: 0;
    height: 100px;
  }
  @media all and (max-width: $size-iphone) {
    height: 96px;
  }

  .event-image {
    display: none;
    @media all and (max-width: $size-ipad) {
      display: block;
      width: 72px;
      min-width: 72px;
      height: 72px;
      object-fit: cover;
      object-position: center;
      margin-right: 10px;
    }
  }

  .event-title {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 28px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    @media all and (max-width: 1400px) {
      font-size: 1.3rem;
      line-height: 24px;
      margin-bottom: 15px;
    }
    @media all and (max-width: $size-ipad) {
      font-size: 0.9rem;
      line-height: 16px;
      margin-bottom: 0;
      height: 35px; // TODO test if ok remove this comment
      overflow: hidden;
      display: flex;
      align-items: flex-start;
    }
    @media all and (max-width: $size-iphone) {
      font-size: 14px;
    }
  }

  .event-location {
    margin-bottom: 0;
    display: flex;
    @media all and (max-width: 1400px) {
      // margin-bottom: 15px;
    }
    @media all and (max-width: $size-ipad) {
      // margin: 17px 0 10px 0;
      position: relative;
      padding-left: 30px;
      margin-bottom: 10px;
    }
    @media all and (max-width: $size-md) {
      // height: 33px;
      overflow: hidden;
      margin: 0;
    }
    @media all and (max-width: $size-iphone) {
      margin: 0;
      // height: 25px;
      overflow: hidden;
      display: flex;
      align-items: flex-start;
      padding-top: 3px;
      padding-left: 0;
    }
    &:not(:last-child) {
      margin-bottom: 25px;
      @media all and (max-width: 1400px) {
        margin-bottom: 15px;
      }
      @media all and (max-width: $size-ipad) {
        margin-bottom: 10px;
      }
      @media all and (max-width: $size-md) {
        margin-bottom: 0;
      }
    }

    span {
      font-size: 0.875rem;
      line-height: 21px;
      margin-bottom: 0;
      color: #001b36;
      @media all and (max-width: $size-ipad) {
        font-size: 12px;
        line-height: 16px;
      }
      @media all and (max-width: $size-iphone) {
        font-size: 10px;
        line-height: 14px;
      }
      b {
        font-size: 1.125rem;
        line-height: 21px;
        font-weight: 600;
        @media all and (max-width: 1400px) {
          font-size: 0.9rem;
        }
        @media all and (max-width: $size-ipad) {
          font-size: 0.875rem;
          line-height: 16px;
        }
        @media all and (max-width: $size-iphone) {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }

    .icon-location {
      margin-right: 20px;
      margin-left: 4px;
      min-width: 17px;
      @media all and (max-width: $size-ipad) {
        min-width: 14px;
        width: 14px;
        top: 0;
        left: 0;
        position: absolute;
      }
      @media all and (max-width: $size-iphone) {
        margin: -3px 15px 0 0;
        min-width: 11px;
        width: 11px;
        position: relative;
        left: 5px;
        top: 2px;
      }
    }
  }

  .event-date {
    width: 100%;
    padding: 0 10px 0 40px;
    background-image: url("/assets/images/notification.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    font-size: 0.875rem;
    line-height: 21px;
    color: #001b36;
    @media all and (max-width: $size-ipad) {
      font-size: 0.75rem;
      margin-bottom: 0;
      background-size: 20px;
      background-color: transparent;
      background-position: 0 0;
      padding: 0 10px 0 30px;
      width: auto;
      min-width: 300px;
      min-height: 32px;
    }
    @media all and(max-width: $size-iphone) {
      padding: 0 10px 0 25px !important;
      background-size: 16px !important;
      background-color: transparent;
      background-position: 2px 2px !important;
      font-size: 10px !important;
    }
    @media all and (max-width: 420px) {
      min-width: 230px !important;
      width: 230px !important;
    }
    b {
      font-weight: 600;
      font-size: 1.125rem;
      @media all and (max-width: $size-ipad) {
        font-size: 0.875rem;
        line-height: 16px;
      }
      @media all and (max-width: $size-iphone) {
        font-size: 12px;
        line-height: 14px;
      }
    }

    ::ng-deep {
      mat-select {
        ::ng-deep {
          .mat-select-value-text {
            font-size: 0.875rem;
            line-height: 21px;
            color: #001b36;
            @media all and (max-width: $size-ipad) {
              font-size: 12px;
              line-height: 16px;
            }
            @media all and (max-width: $size-iphone) {
              font-size: 10px;
              line-height: 14px;
            }
            b {
              font-size: 1.125rem;
              line-height: 21px;
              @media all and (max-width: 1400px) {
                font-size: 0.9rem;
              }
              @media all and (max-width: $size-ipad) {
                font-size: 0.875rem;
                line-height: 16px;
              }
              @media all and (max-width: $size-iphone) {
                font-size: 12px;
                line-height: 14px;
              }
            }
          }
        }
      }
    }
  }

  mat-form-field.event-date {
    background-position: 0 5px;
    @media all and(max-width: $size-ipad) {
      background-position: 0 5px;
    }
    @media all and(max-width: $size-iphone) {
      background-position: 2px 7px !important;
    }
  }
}

.payment-summary {
  padding: 30px 45px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.09);
  position: absolute;
  z-index: 100;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #ffffff;
  @media all and (min-width: 1400px) {
    padding-top: 15px;
    padding-bottom: 20px;
  }
  @media all and (min-width: 992px) {
  }
  // @media all and (max-width: $size-ipad) {
    // }
  &.payment-mobile{
    position: fixed;
    z-index: 100;
    width: 100%;
    left: auto;
    right: 0;
    bottom: 0;
    background: #ffffff;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.15);
    
    min-width: 443px;
    width: 443px;
    @media all and (max-width: 1400px) {
      max-width: 420px;
      min-width: 420px;
      width: 420px;
    }
    @media all and (max-width: $size-ipad) {
      padding: 15px;
      min-width: 100%;
      max-width: 100%;
      width: 100%;
    }
    button {
      margin-top: 10px;
    }
  }

  > .tickets-count,
  .tax {
    @media all and (max-width: $size-ipad) {
      display: none;
    }
  }
}

.btn-primary {
  margin-top: 25px;
  width: 100%;

  &[disabled] {
    background-image: none;
  }
  &.see-ticket {
    @media (max-width: $size-iphone) {
      background-image: url("/assets/icons/ticket-white.svg");
      background-repeat: no-repeat;
      background-position: 20px 50%;
      &[disabled] {
        background-image: none;
      }
    }
    @media (max-width: 374px) {
      background-position: 5px 50%;
    }
    @media (max-width: $size-old-phone) {
      background-image: none;
    }
  }
}

.payment-tickets {
  flex-grow: 1;
  padding: 20px 45px;
  transition: .3s opacity;
  // max-height: 375px;
  // overflow-y: auto;
  position: relative;
  z-index: 5;
  @media all and (max-width: $size-ipad) {
    width: 100%;
    display: block;
    // height: calc(100vh - 345px);
    max-height: 100vh;
    position: fixed;
    background: #ffffff;
    overflow: auto;
    top: 140px;
    padding: 20px;
    height: auto;
    bottom: 126px;
    position: fixed;
  }
  @media all and (max-width: $size-md) {
    // height: calc(100vh - 269px);
    // padding: 20px;
    // top: 142px;
  }
  @media all and (max-width: $size-iphone) {
    // height: calc(100vh - 269px);
    padding: 15px;
    top: 137px;
  }

  &:after{
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: white;
    transition: all .2s ease;
    opacity: 0.5;
  }
  &.disabled {
    opacity: 1;
    pointer-events: none;
    &:after{
      z-index: 10;
    }
  }

  .back {
    display: none;
    @media all and (max-width: $size-ipad) {
      display: block;
      padding: 0;
      border: none;
      background: transparent;
      margin-bottom: 15px;
      font-size: 0.9rem;
      font-family: "Roboto", sans-serif;
      .fa {
        margin-right: 10px;
        color: $app-primary;
      }
      &:hover {
        color: $app-primary;
      }
    }
  }
}

.tickets-count,
.tax {
  font-size: 0.88rem;
}

.tickets-count {
  margin-bottom: 0;
  color: $app-darken;
}

.total-price {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $app-darken;

  .text-result-tickets {
    // display: flex;
    // align-items: center;
    line-height: 28px;
    font-weight: 500;
  }

  .tickets-count {
    display: none;
    @media all and (max-width: $size-ipad) {
      display: inline-block;
      font-size: 1rem;
      font-weight: 400;
      // margin-left: 10px;
      position: relative;
    }
  }
  .tickets-price {
    font-size: 1rem;
    span {
      font-size: 1.5rem;
    }
  }
}

.payment-no-tickets-msg {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  color: #ccd0d5;
  flex-grow: 1;
  padding: 20px 45px;

  span {
    display: block;
    margin-bottom: 20px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 1.9rem;
    line-height: 35px;
    text-align: center;
    color: #ccd0d5;
    @media all and (max-width: 1400px) {
      font-size: 1.5rem;
    }
  }
  img {
    @media all and (max-width: 1400px) {
      width: 150px;
    }
  }

  @media all and (max-width: $size-ipad) {
    display: none;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
