<aside>
  <div class="event-info" *ngIf="event">
    <img class="event-image" src="{{event.mainImageSmall?.path | imgUrl}}"
         alt="{{event.name.valueUA + 'у місті ' + event.platformHall.city.dictionary.valueUA}}">
    <div class="info-wrapper">
      <h5 class="event-title">{{ event?.name | appTranslate }}</h5>
      <p class="event-location">
        <img class="icon-location" src="/assets/images/location.svg" alt="Location icon">
        <span>
          <b>{{ event?.platformHall?.city.dictionary | appTranslate }}</b>,
          {{ event?.platformHall?.address | appTranslate }}
        </span>
      </p>
      <ng-container *ngIf="event?.sameEvent?.length > 0">
        <mat-form-field class="event-date">
          <mat-select [value]="event?.id" (selectionChange)="onSelectionChange($event)">
            <mat-select-trigger>
              <b>{{ event?.dataBegin | date:'d' }}</b>
              {{ (event?.dataBegin | date:'MMMM') | translate }}
              {{ event?.dataBegin | date:'yyyy' }},
              {{ (event?.dataBegin | date:'EEEE') | translate }}
              <b>{{ event?.dataBegin | date:'HH:mm'}}</b>
            </mat-select-trigger>
            <mat-option class="event-date-option" [value]="event?.id">
              <b>{{ event?.dataBegin | date:'d' }}</b>
              {{ (event?.dataBegin | date:'MMMM') | translate }}
              {{ event?.dataBegin | date:'yyyy' }},
              {{ (event?.dataBegin | date:'EEEE') | translate }}
              <b>{{ event?.dataBegin | date:'HH:mm'}}</b>
            </mat-option>
            <mat-option class="event-date-option" *ngFor="let e of event?.sameEvent" [value]="e.id">
              <b>{{ e.beginDate | date:'d' }}</b>
              {{ (e.beginDate | date:'MMMM') | translate }}
              {{ e.beginDate | date:'yyyy' }},
              {{ (e.beginDate | date:'EEEE') | translate }}
              <b>{{ e.beginDate | date:'HH:mm'}}</b>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <div class="event-date" *ngIf="event?.sameEvent?.length === 0">
        <b>{{ event?.dataBegin | date:'d' }}</b>
        {{ (event?.dataBegin | date:'MMMM') | translate }}
        {{ event?.dataBegin | date:'yyyy' }},
        {{ (event?.dataBegin | date:'EEEE') | translate }}
        <b>{{ event?.dataBegin | date:'HH:mm'}}</b>
      </div>
    </div>

  </div>
  <div *ngIf="bin.length === 0" class="payment-no-tickets-msg">
    <span>{{"Please select tickets" | translate}}</span>
    <img src="/assets/images/ticket.svg" alt="tickets">
  </div>
  <div *ngIf="bin.length !== 0 && showTickets" class="payment-tickets"
       [ngClass]="{'disabled': (isSelectedSeat | async)}">
    <div class="back" (click)="removeTickets()"><i class="fa fa-chevron-left"></i>{{"Back" | translate}}</div>
    <app-booking-ticket *ngFor="let item of bin" [id]="item.id" [row]="item.row" [seatPosition]="item.seatPosition"
                        [sector]="item.sector" [price]="item.colorPrice?.price" [color]="item.colorPrice?.color"
                        [seat]="item.seat"
                        [name]="item.ticketGroupWithOutSachem?.name | appTranslate"
                        [comment]="item.ticketGroupWithOutSachem?.comment | appTranslate"
                        (removed)="onRemoveTicket($event)">
    </app-booking-ticket>
  </div>
  <div class="payment-summary" [ngClass]="{'payment-mobile': isMobileDevice}">
    <p class="tickets-count">{{ bin.length }} {{({type: 'tickets', value: bin.length} | wordConvert) | translate}} <span
      class="float-right">{{ price?.priceWithOutCommission || '0' }} {{ 'hrn' | translate }}</span></p>
    <!-- <p class="tax">
      {{"Service commission" | translate}} ({{ ((price?.commission * 100) | number:'.0')  || '0,01'}}%) <span
        class="float-right">{{ ((price?.price - price?.priceWithOutCommission) | number:'.2' ) || '0' }}
        {{ 'hrn' | translate }}</span>
    </p> -->

    <div class="total-price">
      <div class="text-result-tickets">{{"Total:" | translate}}
        <span class="tickets-count">{{ bin.length }}
          {{({type: 'tickets', value: bin.length} | wordConvert) | translate}}</span>
      </div>
      <div class="tickets-price">
        <span>{{ price?.priceWithOutCommission || '0' }}</span> {{ 'hrn' | translate }}
      </div>
    </div>
    <button class="btn-primary see-ticket" mat-raised-button color="primary" [disabled]="form.invalid"
            *ngIf="!paymentTickets" (click)="acceptTicket()">
      {{ 'see tickets' | translate }}
    </button>
    <button *ngIf="paymentTickets" class="btn-primary" mat-raised-button color="primary"
            (click)="nextStep();smmInitCheckout()"
            [disabled]="form.invalid">
      {{ 'checkout' | translate }}
    </button>
  </div>
</aside>
