@import "../../../../scss/variables";
:host {
  width: 326px;
}

.total-price {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.btn-primary {
  width: 100%;
  margin-bottom: 0.75rem;
}

.footer-text {
  margin-bottom: 8px;
  font-size: 0.88rem;
}
.footer-img {
  display: block;
  margin: auto;
}

iframe {
  width: 100%;
  height: 100%;
}

