<ng-container *ngIf="iframeSrc">
<!--  <iframe sandbox="allow-top-navigation allow-scripts allow-forms" [src]="iframeSrc | safeUrl" frameborder="0"></iframe>-->
  <iframe [src]="iframeSrc | safeUrl" id="iframe" frameborder="0"></iframe>
</ng-container>
