<!--  <button (click)="scrollToTop()">-->

<!--  </button>-->
<!--</div>-->

<button class="scroll-to-top" [ngClass]="{'show-scroll': showScroll}" (click)="scrollToTop()">
    <svg width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.3164 8.21094V9.78906C19.3164 10.0937 19.1406 10.3711 18.8672 10.5C18.5898 10.6328 18.2617 10.5937 18.0273 10.3984L9.84375 3.70312L1.65625 10.3984C1.42187 10.5937 1.09766 10.6328 0.820312 10.5C0.542969 10.3711 0.367188 10.0937 0.367188 9.78906V8.21094C0.367188 7.97266 0.476563 7.74609 0.660156 7.60156L9.34375 0.496094C9.63281 0.257813 10.0508 0.257813 10.3398 0.496094L19.0273 7.60156C19.207 7.74609 19.3164 7.97266 19.3164 8.21094Z"
              fill="#405468"/>
    </svg>
</button>

