@import "../../../../scss/variables";

:host {
  display: block;
  @media all and (max-width: $size-ipad) {
    display: block;
  }
}
.scroll-to-top {
  position: fixed;
  width: 40px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  right: 25px;
  bottom: 15px;
  border-radius: 50%;
  opacity: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
  z-index: 105;
  svg {
    width: 60%;
  }
  &:hover {
    background: #3531ff;
    svg {
      path {
        fill: #fff;
      }
    }
  }
}
.show-scroll {
  opacity: 1;
}
