<router-outlet></router-outlet>
<div [hidden]="!isLoaderBack" class="loader loader--raised">
  <div>
    <img src="../assets//images/load_dev.gif" alt="">
    <h2>{{'developMode'| translate}}</h2>
    <div class="d-flex justify-content-center">
      <button class="btn-primary" (click)="reloadPage()" mat-raised-button
        color="primary">{{'tryAgain' | translate}}</button>
    </div>
  </div>
</div>
