@import "../scss/styles";

::ng-deep {
  .mat-snack-bar-container {
    background: $app-primary;
    color: $app-white;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #ffffff;

  &--raised {
    z-index: 2000;

    img {
      width: 200px;
      height: 200px;
      display: block;
      margin: auto;
    }

    h2 {
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
