@import "../../../../../scss/mixins";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}

button {
  // @include blue-btn();
  border: 0;
  padding: 7px 15px !important;
}

h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

h3 {
  margin-bottom: 45px;
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
}

.btn-primary {
  width: auto;
  margin-bottom: 15px;
}
