<mat-icon>hourglass_empty</mat-icon>
<h4>{{"Session timed out." | translate}}</h4>
<button
  class="btn-primary btn-timer-back"
  mat-raised-button
  color="primary"
  type="button"
  (click)="closeModal(false)">
  {{"Return to choose Seats" | translate}}
</button>

<a href="#" (click)="closeModal()">{{"Home" | translate}}</a>
