@import "../../../../../scss/variables";
@import "../../../../../scss/mixins";
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px 0;
}
button{
  @include blue-btn();
  border: 0;
  padding: 14px 15px !important;
}
:host::ng-deep {
  .mat-icon {
    width: 48px;
    height: 48px;
    font-size: 3rem;
    color: #FF3636;
  }
}

h4{
  margin-top: 20px;
  margin-bottom: 45px;
}

.btn-primary {
  width: auto;
  margin-bottom: 15px;
}
