.progress {
    position: fixed;
    top: 0;
    max-width: 100%;
    width: 100%;
    height: 2px;
    z-index: 9999;
    &__line {
        width: 100%;
        background: red;
        height: 2px;
        &--active {
            animation: preloader 2s;
            transition-timing-function: linear;
            height: 2px;
        }
    }
}

@keyframes preloader {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
        height: 2px;
    }
}
