@import "../../../scss/variables";
@import "../../../scss/mixins";

:host {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 5%;
  justify-content: space-between;
  @media all and (max-width: $size-ipad) {
    flex-direction: column;
    padding: 140px 15vh 0;
    // height: calc(100vh - 130px);
    // height: calc(100vh - 114px);
    overflow: auto;
    position: relative;
    margin: 0 auto;
    height: auto;
    position: fixed;
    top: 137px;
    bottom: 0;
  }
  @media all and (max-width: $size-iphone) {
    padding: 88px 15px 0;
  }
  @media all and (max-width: 420px) {
    // height: calc(100vh - 200px);
    padding: 70px 15px 0;
    // margin-top: 63px;
  }
  @media all and (max-width: 375px) {
    // height: calc(100vh - 150px);
    // padding: 70px 15px 0;
  }
}
.user-data-wrapper {
  min-width: 50px;
  width: 500px;
  border-left: 2px dotted $app-border;
  @media all and (min-width: $size-ipad) {
    overflow: auto;
    height: calc(100vh - #{$app-header-h} - 90px);
    min-width: 50%;
    padding-right: 3%;
    padding-left: 7%;
    width: 60%;
    flex-grow: 1;
    min-width: 400px;
    margin-right: 4%;
  }
  @media all and (max-width: $size-ipad) {
    border: 0;
    width: 100%;
    min-width: 100%;
    order: 2;
  }
  @media all and (max-width: $size-md) {
    // width: 100%;
    // min-width: 100%;
  }
  &.wrapper-overlay {
    margin-right: 50px;
    border-right: 2px dotted $app-border;
  }
  h4 {
    font-size: 1.875rem;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    line-height: 35px;
    color: #1e252c;
    margin-bottom: 30px;
    @media all and (max-width: $size-ipad) {
      position: absolute;
      top: 65px;
    }
    @media all and (max-width: $size-iphone) {
      display: none;
    }
  }
  mat-button-toggle-group,
  .form-group,
  .btn-link,
  .payment-summary {
    // min-width: 327px;
    width: 100%;
    @media all and (max-width: $size-lg) {
      min-width: 100%;
      width: 100%;
    }
    // @media all and (max-width: $size-md) {
    //   width: 100%;
    //   min-width: 100%;
    // }
  }
  .login-link {
    > * {
      vertical-align: middle;
      color: $app-primary;
    }
    .mat-icon {
      margin-right: 5px;
    }
  }
  mat-button-toggle-group {
    @media all and (max-width: $size-ipad) {
      position: absolute;
      top: 10px;
      // top: 115px;
      left: 15vh;
      right: 15vh;
      background: #fff;
      min-width: auto;
      width: auto;
    }
    @media all and (max-width: $size-iphone) {
      top: 10px;
      left: 0;
      right: 0;
      min-width: 100%;
      width: 100%;
    }
    @media all and (max-width: $size-iphone) {
      // top: 50px;
    }
  }
  .form-group {
    label {
      font-size: 0.9rem;
      line-height: 16px;
      margin-bottom: 6px;
      color: #a5adb6;
      width: 100%;
    }
    input.form-control {
      height: 40px;
      border: 1px solid #a5adb6;
      border-radius: 5px;
      color: #1e252c;
      width: 100%;
      line-height: 40px;
      padding: 0 15px;
      transition: all 0.3s ease;
      &:focus {
        border: 1px solid #3531ff;
      }
    }
  }
  .bonuses-wrapper {
    margin-top: 15px;
    .bonus-result {
      span {
        font-size: 0.9rem;
        font-family: Roboto, sans-serif;
        line-height: 20px;
        color: #2b27da;
      }
    }
  }
  .promo-code-block {
    display: flex;
    justify-content: space-between;
    input,
    button {
      width: 47% !important;
      margin-top: 10px;
    }
    button {
      @include white-btn();
      border: 2px solid #2b27da;
      padding: 4px 0 !important;
      text-align: center;
      font-size: 1.05rem;
    }
    button.remove {
      background: #ff3636;
      border-color: #ff3636;
      color: white;

      &:hover {
        background: rgba(#ff3636, 0.8) !important;
      }
    }
  }
  .accept-privacy {
    display: none;
    @media all and (max-width: $size-md) {
      display: block;
      margin-top: 15px;
    }
  }

  .mat-progress-spinner {
    width: 30px !important;
    height: 30px !important;
    margin: 10px 0;
    overflow: hidden;
    ::ng-deep {
      svg {
        width: 30px !important;
        height: 30px !important;
      }
    }
  }

  mat-checkbox.mat-checkbox-checked {
    ::ng-deep {
      .mat-checkbox-background {
        background-color: $app-primary;
      }
      .mat-checkbox-frame {
        border-color: $app-primary;
      }
    }
  }
  mat-checkbox {
    ::ng-deep {
      .mat-checkbox-layout {
        margin-bottom: 0 !important;
        .mat-checkbox-inner-container {
          margin-top: 2px;
        }
        .mat-checkbox-label {
          font-size: 0.9rem;
          line-height: 20px;
          font-family: Roboto, sans-serif;
          color: #1e252c;
          white-space: normal;
          .public-text {
            display: block;
            line-height: 20px;
            a {
              display: inline;
            }
          }
        }
      }

      .mat-checkbox-frame {
        border: 1px solid #1e252c;
      }
    }
  }

  mat-checkbox.mat-checkbox-disabled {
    ::ng-deep {
      .mat-checkbox-label {
        color: rgba(0, 0, 0, 0.54);
      }
    }
  }
}

::ng-deep {
  .mat-button-toggle-group.mat-button-toggle-group-appearance-standard {
    border: none;
    border-radius: 0;
  }
  .mat-button-toggle-group {
    width: 100%;
  }
  .mat-button-toggle {
    width: 100%;
    .mat-button-toggle-button {
      width: 100%;
      .mat-button-toggle-label-content {
        width: 100%;
      }
    }
    svg {
      margin-right: 10px;
    }
    .icon-clock {
      width: 20px;
      height: 20px;
    }
    .icon-bucket {
      width: 24px;
      height: 24px;
    }
    &.mat-button-toggle-checked {
      color: $app-primary;
      background-color: transparent;
      svg path {
        fill: $app-primary;
      }
      .mat-button-toggle-label-content {
        border-bottom-color: $app-primary;
      }
    }

    .mat-button-toggle-label-content {
      border-bottom: 2px solid $app-border;
      line-height: inherit !important;
      height: 33px;
      @media all and (min-width: $size-ipad) {
        margin-bottom: 30px;
      }
    }

    .mat-button-toggle-button {
      outline: none;
    }

    .mat-button-toggle-focus-overlay {
      display: none;
    }

    .mat-button-toggle-ripple {
      display: none;
    }
  }

  .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
    border-left: none;
  }
}

.form-control:focus {
  border-color: $app-primary;
  box-shadow: none;
}

.icon-cart {
  height: 19px;
  width: 20px;
}

.icon-alarm-clock {
  height: 20px;
  width: 19px;
}

.btn-primary {
  width: 100%;
  margin-bottom: 0.75rem;
}

.tickets-count,
.tax {
  font-size: 0.88rem;
}

.tickets-count {
  margin-bottom: 0;
}

.total-price {
  font-family: Open Sans, sans-serif;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #1e252c;
  .currency {
    font-size: 1rem;
    font-weight: normal;
  }
}
.public-text,
.public-text a {
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  line-height: 20px;
  color: #1e252c;
  @media all and (max-width: $size-md) {
    display: none;
  }
}
.btn-link,
.public-text a {
  color: #2b27da;
  &:hover {
    text-decoration: underline;
  }
}
.wrapper-for-mobile {
  @media (min-width: $size-iphone) and (max-width: $size-ipad) {
    position: relative;
    left: -15vh;
    // padding: 0 15px;
    width: 100vw;
  }
}
.payment-summary {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 2px dotted #a5adb6;
  @media all and (max-width: $size-ipad) {
    border: 0;
    box-shadow: 0px -3px 2px rgba(0, 0, 0, 0.15);
    width: auto !important;
    // width: calc(100% + 30px) !important;
    padding: 25px 15px 0 15px;
  }
  @media all and (max-width: $size-iphone) {
    margin-left: -15px;
    margin-right: -15px;
  }
  &.booking {
    padding-top: 20px;
    border-top-color: $app-border;

    .tickets-count {
      display: none;
    }
  }
  .btn-primary {
    @include blue-btn();
    border: 0;
    padding: 7px 15px !important;
    margin-bottom: 24px;
  }
}

.explanation {
  margin-top: 36px;
  padding: 28px 30px 30px;
  border: 2px dotted #a5adb6;
  max-width: 420px;
  margin-bottom: 25px;
  @media all and (max-width: $size-ipad) {
    max-width: 100%;
    padding: 0;
    margin-top: 0;
    order: 1;
    border: 0;
    margin-bottom: 0;
  }
  h6 {
    width: -100%;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    line-height: 23px;
    color: #1e252c;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    @media all and (max-width: $size-md) {
      font-size: 1rem;
    }
  }

  p {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.85rem;
    line-height: 20px;
    color: #1e252c;
    margin-bottom: 0;
    @media all and (max-width: $size-ipad) {
      margin-bottom: 2rem;
    }
  }
}

.wrapper-overlay {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-color: rgba(255, 255, 255, 0.574);
  }
}

.hide {
  opacity: 0.5;
  pointer-events: none;
}
