<form class="user-data-wrapper" [ngClass]="{'wrapper-overlay': isReadOnly}" [formGroup]="form">
  <h4>{{"Ordering" | translate}}</h4>
  <mat-button-toggle-group #formType="matButtonToggleGroup">
    <mat-button-toggle value="buying" checked>
      <svg class="icon-bucket" width="24" height="24" viewBox="0 0 24 24" fill="none"
           xmlns="http://www.w3.org/2000/svg">
        <path fill="#A5ADB6"
              d="M1 2V4H3L6.6 11.59L5.25 14.03C4.52 15.37 5.48 17 7 17H19V15H7L8.1 13H15.55C16.3 13 16.96 12.59 17.3 11.97L20.88 5.48C21.25 4.82 20.77 4 20.01 4H5.21L4.27 2H1ZM7 18C5.9 18 5.01 18.9 5.01 20C5.01 21.1 5.9 22 7 22C8.1 22 9 21.1 9 20C9 18.9 8.1 18 7 18ZM15.01 20C15.01 18.9 15.9 18 17 18C18.1 18 19 18.9 19 20C19 21.1 18.1 22 17 22C15.9 22 15.01 21.1 15.01 20Z">
        </path>
      </svg>
      {{"pay" | translate}}
    </mat-button-toggle>
  </mat-button-toggle-group>
  <div class="form-group">
    <label for="firstname">{{"Name" | translate}}</label>
    <input type="text" class="form-control" id="firstname" formControlName="firstName">
    <ng-container
      *ngIf="submittedForm&&form.controls.firstName.invalid || form.controls.firstName.touched&&form.controls.firstName.invalid">
      <app-error-display
        *ngIf="submittedForm&&form.controls.firstName.invalid || form.controls.firstName.touched&&form.controls.firstName.invalid"
        errorMsg="First Name is required"></app-error-display>
    </ng-container>
  </div>
  <div class="form-group">
    <label for="lastname">{{"Surname" | translate}}</label>
    <input type="text" class="form-control" id="lastname" formControlName="lastName">
    <ng-container
      *ngIf="submittedForm&&form.controls.lastName.invalid || form.controls.lastName.touched&&form.controls.lastName.invalid">
      <app-error-display
        *ngIf="submittedForm&&form.controls.lastName.invalid || form.controls.lastName.touched&&form.controls.lastName.invalid"
        errorMsg="Last Name is required"></app-error-display>
    </ng-container>
  </div>
  <div class="form-group">
    <label for="email">{{"Email" | translate  }}</label>
    <input type="email" class="form-control" id="email" formControlName="mail">
    <ng-container
      *ngIf="submittedForm&&form.controls.mail.invalid || form.controls.mail.touched&&form.controls.mail.invalid">
      <app-error-display
        *ngIf="submittedForm&&form.controls.mail.invalid || form.controls.mail.touched&&form.controls.mail.invalid"
        errorMsg="Email is required"></app-error-display>
    </ng-container>
  </div>
  <div class="form-group">
    <label for="phone">{{"Phone" | translate}}</label>
    <input type="text" class="form-control" id="phone" formControlName="phone"
           [textMask]="{ mask: phoneMask, guide: false, modelClean: true }">
    <ng-container
      *ngIf="submittedForm&&form.controls.phone.invalid || form.controls.phone.touched&&form.controls.phone.invalid">
      <app-error-display
        *ngIf="submittedForm&&form.controls.phone.invalid || form.controls.phone.touched&&form.controls.phone.invalid"
        errorMsg="Phone is required"></app-error-display>
    </ng-container>
  </div>
  <div *ngIf="formType.value === 'buying'">
    <div [hidden]="formType.value === 'payment' || isReadOnly">
      <div class="promo-code-wrapper">
        <mat-checkbox [(ngModel)]="showPromoCode" [ngModelOptions]="{standalone: true}"
                      (change)="togglePromoCode(promoCodeInput)">
          {{ 'I have a promotional code' | translate }}</mat-checkbox>

        <div [hidden]="!showPromoCode" class="form-group promo-code-block">
          <input #promoCodeInput type="text" class="form-control" id="promo-code" formControlName="promoCode">
          <button *ngIf="!promoCodePrice"
                  (click)="sendPromoCode(promoCodeInput)">{{"apply" | translate}}</button>
          <button class="remove" *ngIf="promoCodePrice"
                  (click)="removePromoCode(promoCodeInput)">{{"cancel" | translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper-for-mobile">
    <div *ngIf="!isReadOnly" class="payment-summary">
      <p class="tickets-count">{{ bin.length }} {{({type: 'tickets', value: bin.length} | wordConvert) | translate}}
        <span class="float-right" *ngIf="!isUsedBonuses()">{{ price?.priceWithOutCommission || '0' }}
          {{ 'hrn' | translate }}</span>
        <span class="float-right" *ngIf="isUsedBonuses()">{{ bin.length }} {{ 'hrn' | translate }}</span>
      </p>
      <p class="tax" *ngIf="formType.value === 'buying' && !isUsedBonuses()">
        {{"Service commission" | translate}} <span class="float-right">
          {{ promoCodePrice ? (promoCodePrice.serviceCommission | number:'.2') : ((price?.price - price?.priceWithOutCommission) | number:'.2') || '0' }}
        {{ 'hrn' | translate }}</span>
      </p>

      <p class="tax" *ngIf="formType.value === 'buying' && isUsedBonuses()">
        {{"Service commission" | translate}} <span class="float-right">
          {{ countCommision(bin.length, price?.commission * 100) | number:'.2'}}
        {{ 'hrn' | translate }}</span>
      </p>

      <p class="total-price" [ngClass]="{'mb-0': isUsedBonuses()}">
        {{"Total:" | translate}}

        <ng-container *ngIf="formType.value === 'buying'">
          <span class="float-right" *ngIf="!isUsedBonuses()">
            {{ promoCodePrice && formType.value === 'buying' ?
            (promoCodePrice.priceWithPromocode | number:'.2') : (price?.price || '0') }}
            <span class="currency">{{ 'hrn' | translate }}</span>
          </span>

          <span *ngIf="isUsedBonuses()" class="float-right">
            {{(bin.length + countCommision(bin.length, price?.commission * 100)) | number:'.2'}}
            <span class="currency">{{ 'hrn' | translate }}</span>
          </span>
        </ng-container>
      </p>

      <mat-checkbox [(ngModel)]="acceptOfferta" [ngModelOptions]="{standalone: true}">
        <div class="public-text">
          {{'By clicking «Continue» you agree to the terms of the site' | translate}}
          <a [routerLink]="['/about/public-offerta']" [queryParams]="{lang: lang}"
             class="btn-link">{{'Public Offerta' | translate}}</a></div>
      </mat-checkbox>

      <button *ngIf="formType.value === 'buying' && !submittedForm" (click)="nextStep()" class="btn-primary mt-3"
              mat-raised-button color="primary"
              [disabled]="!acceptOfferta || form.invalid">{{ 'continue' | translate }}</button>
      <div *ngIf="submittedForm" class="d-flex w-100 mt-2 justify-content-center overflow-hidden">
        <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>
  </div>
</form>

<ng-container *ngIf="!isReadOnly">
  <div *ngIf="formType.value === 'buying'" class="explanation d-none d-lg-block">
    <h6>{{"Bonus Information" | translate}}</h6>
    <p>
      {{"bookingAboutBonuses" | translate}}
    </p>
  </div>
  <div *ngIf="formType.value === 'buying'" class="explanation d-block d-lg-none">
    <h6 (click)="isShowText = !isShowText">
      {{"Bonus Information" | translate}}
      <i class="material-icons" *ngIf="!isShowText">expand_more</i>
      <i class="material-icons" *ngIf="isShowText">expand_less</i>
    </h6>
    <p *ngIf="isShowText">
      {{"bookingAboutBonuses" | translate}}
    </p>
  </div>
</ng-container>
