@import "../../../scss/variables";
:host {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  min-height: 50%;
  @media all and (max-width: $size-ipad) {
    // flex-direction: column-reverse;
    // position: inherit;
    position: relative;
    // height: calc(100vh - 262px);
    top: 41px;
    order: 2;
    flex-direction: column;
    flex-wrap: initial;
  }
  &::ng-deep {
    pinch-zoom {
      height: 100%;
      width: 100%;
    }
    app-booking-ticket {
      width: 320px;
      max-width: 100%;
      cursor: pointer;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
      transition: all 0.3s;
      margin-bottom: 15px !important;
      .price {
        &:last-child {
          margin-right: 15px;
        }
        b {
          font-size: 1.125rem;
        }
      }
      @media (min-width: $size-ipad) {
        &:hover {
          box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.07);
          .price {
            color: $hover-menu-item;
          }
        }
      }
    }
    .hall-map {
      position: absolute;
      top: 0;
      left: 10px;
      width: calc(100% - 20px);
      height: 100%;
      cursor: move;
      @media all and (max-width: $size-ipad) {
        // height: 50vh;
        // min-height: 50vh;
      }
      // transform: matrix(1, 0, 0, 1, 0, 0);
      // display: flex;
      // align-items: center;
      .hall-map-inner {
        width: 100%;
        height: 100%;
        min-height: inherit;
        transition: 0.3s all;
      }
      [class^="st"] {
        font-family: "Roboto", sans-serif !important;
      }
      svg {
        width: 100% !important;
        height: 100% !important;
        cursor: move;
        transform: scale(1);
        transition: 2s;
        min-height: inherit;
      }
    }

    .hall-loader-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .section_name {
      cursor: pointer;
    }
  }
}

.ticket-title {
  margin-bottom: 47px;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #ccd0d5;
  width: 340px;
  max-width: 100%;
  @media (max-width: 767px) {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
  }
}

.configurationZoom {
  position: absolute;
  right: 45px;
  bottom: 60px;
  width: 48px;
  height: 96px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  @media all and (max-width: $size-ipad) {
    width: 32px;
    height: 64px;
    right: 15px;
    bottom: 15px;
  }
  @media all and (max-width: $size-iphone) {
    bottom: 189px;
    position: fixed;
  }
  button {
    width: 100%;
    height: 48px;
    border: 0;
    outline: none;
    @media all and (max-width: $size-ipad) {
      height: 32px;
    }
  }
  .plus {
    background: url("../../../assets/images/plus.svg") no-repeat center;
    border-bottom: 0.5px solid #ededed;
    @media all and (max-width: $size-ipad) {
      background-size: 18px;
    }
  }
  .minus {
    border-top: 0.5px solid #ededed;
    background: url("../../../assets/images/minus.svg") no-repeat center;
    @media all and (max-width: $size-ipad) {
      background-size: 18px;
    }
  }
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #00c6ff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - 40px);
  left: -40px;
}

.circle span {
  color: #fff;
  font-size: 1.4rem;
  padding-left: 23px;
  font-weight: bold;
}

.hall-map-wrapper {
  position: relative;
  width: calc(100% - 190px);
  height: 100%;
  transition: opacity 0.3s;
  @media all and (max-width: $size-ipad) {
    width: 100%;
    display: block;
    // height: calc(100vh - 345px);
    // height: 100%;
    height: auto !important;
    // position: absolute;
    // top: 146px;
    // top: 0;
    // bottom: 53px;

    position: fixed;
    top: 137px;
    bottom: 179px;
    z-index: 30;
  }
  @media all and (max-width: $size-iphone) {
    // height: calc(100vh - 300px);
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.hall-map-container {
  position: relative;
  overflow: hidden !important;
  width: 100%;
  height: 100%;
  @media (max-width: $size-ipad) {
    // max-height: calc(100vh - 390px);
  }
}

.legend-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 186px;
  height: calc(100vh - #{$app-header-h});
  padding: 15px 12px 15px 36px;
  list-style: none;
  background: #ffffff;
  box-shadow: 0px 0 7px rgba(0, 0, 0, 0.09);
  position: relative;
  z-index: 1;
  @media all and (max-width: $size-ipad) {
    height: auto;
    padding: 10px 15px;
    width: 100%;
    position: fixed;
    bottom: 125px;
    box-shadow: none;
  }
  .legend-title {
    margin-bottom: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-size: 0.88rem;
    line-height: 16px;
    color: #a5adb6;
    @media all and (max-width: $size-ipad) {
      display: none;
    }
  }
  .legend-list {
    margin-bottom: 1rem;
    padding-left: 0;
    list-style: none;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media all and (max-width: $size-ipad) {
      margin-bottom: 0;
      width: 100%;
      display: block;
      // flex-wrap: nowrap;
      // flex-direction: row;
      white-space: nowrap;
    }
    .disabled {
      cursor: not-allowed;
      background-color: grey;
    }
    .selected {
      background: mediumseagreen;
    }
    .legend-item {
      display: inline-block;
      align-items: center;
      margin-bottom: 1rem;
      padding: 5px 10px;
      font-family: "Roboto", sans-serif;
      font-size: 0.88rem;
      // font-weight: 600;
      color: $app-blue-dark;
      border: 1px solid $app-grey;
      border-radius: 3px;
      cursor: pointer;
      transition: background 0.4s ease;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      height: 34px;
      min-height: 34px;
      @media all and (max-width: $size-ipad) {
        margin-bottom: 0;
        width: auto;
        margin-right: 5px;
        &:last-child {
          margin-right: 0;
        }
      }
      .legend-circle {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 5px;
        border-radius: 50%;
        position: relative;
        z-index: -1;
      }
      &.active {
        background: $app-primary !important;
        border-color: $app-primary;
        color: white;
        position: relative;
        padding-left: 25px;
        &:before,
        &:after {
          position: absolute;
          content: "";
          display: block;
          width: 14px;
          height: 1px;
          background: white;
          left: 8px;
          top: 50%;
        }
        &:before {
          transform: translateY(-50%) rotate(45deg);
        }
        &:after {
          transform: translateY(-50%) rotate(-45deg);
        }
        .legend-circle {
          display: none;
        }
      }
    }
  }
}

svg path[disabled="true"] {
  fill: black;
}
