<div class="w-100 hall-map-container" [hidden]="typeOfScheme !== 'WITHOUT_SCHEME'"
    [ngClass]="{disabled: isSelectedSeat | async}">
    <div class="d-flex h-100 flex-column justify-content-center align-items-center w-100">
        <h3 class="ticket-title">{{ 'Please select tickets' | translate }}</h3>
        <app-booking-ticket *ngFor="let ticket of ticketsGroupWithOutSchema" [id]="ticket.id"
            [name]="ticket.name | appTranslate" [comment]="ticket.comment | appTranslate" [seat]="ticket.seat"
            [color]="ticket.colorPrice.color" [price]="ticket.colorPrice.price" [canRemove]="false"
            (click)="buyTicketWithOutSchema(ticket.id)">
        </app-booking-ticket>
    </div>
</div>

<div class="legend-wrapper" [hidden]="typeOfScheme === 'WITHOUT_SCHEME'">
    <div class="legend-title">{{"Select price categories" | translate}}</div>
    <ul class="legend-list">
        <li class="legend-item" *ngFor="let item of colorPrices" [attr.data-price]="item.price"
            (click)="setPriceToFilter($event, item.price, item.color)">
            <span class="legend-circle" [style.backgroundColor]="item.color"></span>
            <b>{{item.price}}</b> {{ 'hrn' | translate }}
        </li>
        <li class="legend-item">
            <span class="legend-circle" [style.backgroundColor]="SeatColorsEnum.Booked"></span> {{"booked" | translate}}
        </li>
        <li class="legend-item">
            <span class="legend-circle" [style.backgroundColor]="SeatColorsEnum.Disabled"></span>
            {{"not available" | translate}}
        </li>
    </ul>
</div>

<div #hallMapWrapper class="hall-map-wrapper" [hidden]="typeOfScheme === 'WITHOUT_SCHEME'"
    [ngClass]="{disabled: isSelectedSeat | async}">
    <app-booking-tooltip-seat id="tooltip-seat" [ngStyle]="tooltipSeatStyles" [data]="seatInfo">
    </app-booking-tooltip-seat>
    <div class="hall-map-container" [hidden]="!partHall?.pattern">
        <!-- <pinch-zoom [zoom-button]="false" class="mobile-zoom">
            <div #hallMap id="hall-map" class="hall-map">
                <div class="hall-map-inner"
                    (mousedown)="onMouseDown($event)"
                    (touchdown)="onTouchDown($event)"
                    [innerHTML]="partHall.pattern | safeHTML"
                    (click)="onClick($event)"
                    (wheel)="onWheel($event)"></div>
            </div>
        </pinch-zoom> -->
        <pinch-zoom [zoom-button]="false">
            <div #hallMap id="hall-map" class="hall-map">
                <div class="hall-map-inner" (mousedown)="onMouseDown($event)" (touchdown)="onTouchDown($event)"
                    [innerHTML]="partHall?.pattern | safeHTML"
                    [style.transform]="isMobileDevice ? false : 'matrix(' + zooms + ', 0, 0,' + zooms + ', 0, 0)'"
                    (click)="onClick($event)" (wheel)="onWheel($event)"></div>
            </div>
        </pinch-zoom>
        <div *ngIf="!isMobileDevice" class="configurationZoom">
            <button class="plus" (click)="onWheelPlus($event)"></button>
            <button class="minus" (click)="onWheelMinus($event)"></button>
        </div>
    </div>
    <div class="hall-loader-container" [hidden]="partHall?.pattern">
        <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
    </div>
</div>
