@import "variables";
@mixin playButton() {
  .play-btn-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    &:active {
      .play-btn {
        background: #2824d2;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.308);
        svg {
          stroke: #ffffff;
        }
      }
    }

    &:hover {
      .play-btn {
        background: #3531ff;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.308);

        svg {
          stroke: #ffffff;
        }
      }
    }

    .play-btn {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $app-white;
      transition: all 0.3s ease;
      cursor: pointer;
      svg {
        width: 20px !important;
        height: 25px !important;
        stroke: #2b27da;
        transition: all 0.3s ease;
        position: relative;
        left: 2px;
      }
    }
  }
}

@mixin header-height() {
  height: 72px;
  @media only screen and (max-width: $size-ipad) {
      height: 67px;
  }
  @media only screen and (max-width: $size-iphone) {
      height: 56px;
  }

  // @media(max-width: $size-ipad){
//     $app-header-h: 67px;
// }
// @media(max-width: $size-iphone){
//     $app-header-h: 56px;
// }
}

@mixin playButtonSmall() {
  .play-btn-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:active {
      .play-btn {
        background: #2824d2;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.308);

        svg {
          stroke: #ffffff;
        }
      }
    }

    &:hover {
      .play-btn {
        background: #3531ff;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.308);

        svg {
          stroke: #ffffff;
        }
      }
    }

    .play-btn {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $app-white;
      transition: all 0.3s ease;

      svg {
        width: 10px !important;
        height: 15px !important;
        stroke: #2b27da;
        transition: all 0.3s ease;
      }
    }
  }
}

@mixin white-btn() {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.15rem;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 7px 15px !important;
  display: block;
  white-space: pre-wrap;
  height: inherit !important;
  transition: all 0.3s ease;
  &:not([disabled]) {
    color: #2b27da;
    background: #fff;
    &:hover {
      background: #3531ff;
      color: #ffffff;
    }
    &:active {
      background: #2824d2;
      color: #ffffff;
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
  }
  @media all and (max-width: $size-old-phone) {
    font-size: 1rem;
  }
}

@mixin blue-btn() {
  border-radius: 3px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.15rem;
  text-transform: uppercase;
  padding: 7px 15px !important;
  display: block;
  white-space: pre-wrap;
  transition: all 0.3s ease;
  // height: 50px !important;
  &:not([disabled]) {
    background: #2b27da;
    color: $app-white;
    &:hover {
      background: #3531ff;
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.308);
    }
    &:active {
      background: #2824d2;
    }
  }
  @media all and (max-width: $size-old-phone) {
    font-size: 1rem;
  }
}

@mixin btn-transparent() {
  color: #2b27da;
  background: transparent;
  border: 2px solid #2b27da;
  box-shadow: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.15rem;
  text-transform: uppercase;
  padding: 7px 15px !important;
  display: block;
  border-radius: 3px;
  white-space: pre-wrap;
  // height: 50px !important;
  transition: all 0.3s ease;
  &:hover {
    background: #3531ff;
    color: #ffffff;
  }
  &:active {
    background: #2824d2;
    color: #ffffff;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
      0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  @media all and (max-width: $size-old-phone) {
    font-size: 1rem;
  }
}

@mixin left-navigation() {
  display: flex;
  box-sizing: border-box;
  flex-shrink: 0;
  border-right: 2px dotted $app-border;
  margin-top: 0;
  width: 20%;
  margin-left: 0;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 0;
  padding-left: 15px;
  transition: all 0.3s ease;
  @media all and (max-width: $size-ipad) {
    width: 30%;
    z-index: 90;
  }
  @media screen and (max-width: $size-md) {
    position: fixed;
    left: 0;
    top: 67px;
    background: #ffffff;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    box-shadow: none;
    border: 0;
    z-index: 10;
    padding-left: 0;
    &::-webkit-scrollbar {
      height: 5px;
      cursor: grab;
    }

    &::-webkit-scrollbar-track {
      box-shadow: none;
      border-radius: 10px;
      cursor: grab;
    }

    &::-webkit-scrollbar-thumb {
      background: $app-primary;
      border-radius: 10px;
      cursor: grab;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $app-primary;
      cursor: grab;
    }
  }
  @media screen and (max-width: $size-iphone) {
    top: 56px;
    // top: 112px;
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (max-width: $size-md) {
      flex-direction: row;
      width: auto;
      padding: 0 15px;
    }

    li {
      list-style: none;
      display: flex;

      a,
      button {
        cursor: pointer;
        padding: 11px 14px;
        background: transparent!important;
        border: 0;
        border-left: 4px solid transparent;
        text-align: left;
        margin: 0;
        text-decoration: none;
        transition: all 0.5s ease;
        width: 100%;

        &:hover {
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.092);
          border-left: 4px solid $app-primary;

          span {
            color: $app-primary;
          }

          @media all and (max-width: $size-md) {
            border-left: 0;
            box-shadow: none;
          }
        }

        @media all and (max-width: $size-md) {
          padding: 10px 12px;
          margin: 0;
          border-left: 0;
        }

        span {
          font-size: 1rem;
          color: $app-blue-dark;
          border-bottom: 3px solid transparent;
          font-weight: 300;
          text-transform: capitalize;
          transition: all 0.5s ease;
          white-space: pre-wrap;
          @media all and (max-width: $size-md) {
            white-space: nowrap;
          }
        }
      }

      .active {
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.092);
        border-left: 4px solid $app-primary;
        @media screen and (max-width: $size-md) {
          box-shadow: 3px 0px 15px rgba(0, 0, 0, 0.092);
          border-left: 0;
        }

        span {
          color: $app-primary;
          @media screen and (max-width: $size-md) {
            font-weight: bold;
          }
        }

      }
    }
  }
}
@mixin content-from-navigation() {
  width: 100%;
  max-width: 80%;
  padding: 0 0 0 60px;
  @media all and (max-width: $size-ipad) {
    max-width: 100%;
    padding-left: 15px;
  }
  @media all and (max-width: 767px) {
    padding-top: 67px;
    padding-left: 0;
  }
  @media all and (max-width: $size-iphone) {
    // padding-top: 56px;
  }
}

@mixin dropdown-select-search() {
  ::ng-deep {
    input[type="text"],
    .c-btn {
      border: 1px solid #a5adb6;
      box-sizing: border-box;
      border-radius: 3px;
      padding: 11px 12px;
      font-family: "Roboto", sans-serif;
      font-size: 0.9rem;
      line-height: 12px;
      color: #405468;
      mix-blend-mode: normal;
      width: 100%;
      transition: all 0.3s ease;
      height: 40px;
      min-height: 40px;
      &:focus {
        border: 1px solid #3531ff;
      }
    }
    .selected-list {
      .c-angle-down,
      .c-angle-up {
        z-index: 1;
      }
      .c-list{
        .c-token{
          padding-left: 0;
        }
      }
    }
    .dropdown-list {
      top: 0;
      padding: 0;
      z-index: 4;
      .list-area {
        border: 0;
        .list-filter {
          padding-left: 0;
          height: 38px;
        }
        > div {
          &:last-child {
            background: #ffffff;
            box-shadow: 0 3px 15px rgba(0, 0, 0, 0.092);
            -webkit-overflow-scrolling: touch;
            max-height: 345px !important;
            .lazyContainer {
              li {
                cursor: pointer;
                line-height: 23px;
                transition: all 0.3s ease;
                padding: 10px 15px;
                &:hover {
                  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.092);
                  label {
                    color: $app-primary;
                  }
                }
                label {
                  color: #1e252c;
                  transition: all 0.3s ease;
                  font-family: "Roboto", sans-serif;
                  font-size: 1rem;
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
      .list-filter .c-clear,
      .pure-checkbox input[type="checkbox"] + label {
        display: none !important;
      }
    }

    .arrow-down,
    .arrow-up,
    .c-search {
      display: none;
    }
  }
}
@mixin scrolledHeader() {
  background: $app-white;
  transition: background 0.3s ease;

  .header-container {
    .burger {
      div {
        background: #1e252c;
      }
    }
    .logo {
      svg {
        path {
          fill: rgb(43, 39, 218);
          &:last-child,
          &:nth-child(9) {
            fill: rgb(255, 54, 54);
          }
        }
      }
    }
    app-navigation {
      ::ng-deep {
        nav.navigation#navigation {
          .main-menu {
            li {
              opacity: 0.7;
              transition: none;

              a {
                color: $app-darken;
                transition: none;
              }
            }
          }

          .main-menu--more {
            .btn-dots {
              &,
              &:after,
              &:before {
                background-color: #1e252c !important;
                transition: color 0.3s ease !important;
              }
            }
          }
        }
      }
    }

    .header-actions {
      .search,
      .filter,
      .city-chooser,
      .lang-switcher,
      .phone-number,
      .profile {
        * {
          transition: none;
        }
        svg {
          path,
          circle {
            fill: $app-darken;
          }

          &.filter__icon {
            stroke: $app-darken;
          }
        }
      }

      .city-chooser button span,
      .lang-switcher button span,
      .phone-number a span,
      .profile span,
      .profile .user-info p {
        color: $app-darken;
      }
    }
  }
}
@mixin simple-page-about() {
  h1 {
    @extend %about-default-h1;
    font-size: 1.9rem;

    @media screen and (min-width: 768px) {
      font-size: 2.9rem;
      margin-bottom: 32px;
    }
  }

  h2 {
    @extend %about-default-h2;
    font-size: 1.15rem;
    line-height: 21px;
    color: $app-border;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 32px;
    margin-top: 36px;

    @media screen and (min-width: 768px) {
      font-size: 1.5rem;
      line-height: 28px;
      margin-top: 64px;
    }
  }

  h3 {
    @extend %about-default-h3;
    margin: 0;
    padding-left: 0;
    min-height: 0;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 28px;
    margin-bottom: 16px;
    @media screen and (max-width: $size-md) {
      min-height: 64px;
      padding-left: 85px;
    }
  }

  p {
    @extend %about-default-p;
  }
  i {
    font-style: italic;
  }
  .icon-info {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: $app-darken;
    margin-bottom: 32px;
    position: relative;
    padding-left: 112px;
    @media screen and (max-width: $size-md) {
      padding-left: 0;
    }
    .icon-info--img {
      width: 64px;
      height: 100%;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 0;
      left: 0;
      @media screen and (min-width: 768px) {
        width: 72px;
      }

      &.intersting-events {
        background-image: url("/assets/images/infopages/interesting_events.svg");
      }

      &.sell_tickets {
        background-image: url("/assets/images/infopages/sell_tickets.svg");
      }

      &.tickets_into_hands {
        background-image: url("/assets/images/infopages/tickets_into_hands.svg");
      }

      &.official_tickets {
        background-image: url("/assets/images/infopages/official_tickets.svg");
      }

      &.official_prices {
        background-image: url("/assets/images/infopages/official_prices.svg");
      }

      &.digital_tickets {
        background-image: url("/assets/images/infopages/digital_tickets.svg");
      }

      &.wallet {
        background-image: url("/assets/images/infopages/wallet.svg");
      }

      &.credit-card {
        background-image: url("/assets/images/infopages/credit-card.svg");
      }

      &.money {
        background-image: url("/assets/images/infopages/money.svg");
      }
    }

    p {
      margin: 0;
      font-size: 0.9rem;
      line-height: 24px;
    }
  }
}
@mixin cabinet-title() {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3.375rem;
  line-height: 63px;
  color: #1e252c;
  margin-bottom: 32px;
  @media all and (max-width: $size-ipad) {
    margin-bottom: 24px;
    line-height: 35px;
    font-size: 1.875rem;
  }
  @media all and (max-width: $size-md) {
    // font-size: 1.8rem;
    // line-height: 30px;
    // margin-bottom: 10px;
  }
  @media all and (max-width: $size-iphone){
    margin-bottom: 15px;
  }
}
@mixin cabinet-subtitle() {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.875rem;
  line-height: 35px;
  color: #1e252c;
  margin-bottom: 15px;
  @media all and (max-width: $size-iphone) {
    font-size: 1.5rem;
    line-height: 28px;
  }
}

@mixin small-title() {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #1e252c;
  @media all and (max-width: $size-md) {
    font-size: 1.3rem;
  }
}
@mixin close() {
  position: absolute;
  top: -26px;
  right: 8px;
  cursor: pointer;
  border: none;
  outline: none;
  width: 18.5px;
  height: 18.5px;
  padding: 0;
  background: transparent url("../../../../../assets/images/close.svg") no-repeat;
  background-size: 18.5px;
}
@mixin cabinet-header() {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;
  text-transform: capitalize;
  @media all and (max-width: $size-iphone) {
    flex-direction: column;
    align-items: flex-start;
  }
  h1 {
    @include cabinet-title();
    @media all and (max-width: $size-iphone) {
      &:not(:last-child){
        margin-bottom: 5px;
      }  
    }
  }
  .cabinet-filter {
    padding: 9px 0;
    margin-bottom: 32px;
    @media all and (max-width: $size-ipad) {
      padding: 0;
      margin-bottom: 24px;
    }
    @media all and (max-width: $size-iphone){
      margin-bottom: 24px;
    }
    span {
      display: inline-block;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 19px;
      color: #a5adb6;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 20px;
      }
      @media all and (max-width: $size-ipad) {
        // &:first-child{
        //   margin-left: 0;
        // }
      }
    }
    .active {
      color: $app-primary;
    }
  }
}
