$app-primary: #2B27DA;
$app-white: #ffffff;
$app-border: #A5ADB6;
$app-blue: #405468;
$app-blue-dark: #001B36;
$app-alert: red;
$app-like-icon: rgba(0, 0, 0, 0.26);
$app-grey: #EDEDED;
$app-darken: #1E252C;
$app-background: rgb(250, 250, 250);

$app-header-h: 72px;
$app-header-h-ipad: 67px;
$app-header-h-iphone: 56px;
$hover-menu-item: #3531FF;
$size-hd: 1600px;
$size-lg: 1200px;
$size-ipad-pro: 1024px;
$size-ipad: 991px;
$size-md: 768px;
$size-iphone: 576px;
$size-xs: 480px;
$size-old-phone: 340px;
