%vertical-align-center {
  display: flex;
  align-items: center;
}

%centered-flex {
  @extend %vertical-align-center;
  justify-content: center;
}

%about-default-h1 {
  margin: 0 0 35px 0;
  color: $app-blue-dark;
  font-size: 2.9rem;
  font-weight: 600;
  line-height: 1;
  text-transform: capitalize;
}

%about-default-h2 {
  margin: 25px 0 40px 0;
  color: $app-blue-dark;
  text-transform: uppercase;
  font-size: 1.15rem;
  font-weight: 600;
}

%about-default-h3 {
  margin: 0 0 20px 0;
  font-size: 1rem;
  line-height: 23px;
  color: $app-blue-dark;
  font-weight: 600;
}

%about-default-p {
  margin: 0 0 20px 0;
  font-size: 1rem;
  line-height: 23px;
  color: $app-blue-dark;
  font-weight: 400;
}
