@import "variables";
@import "vendors/index";
@import "placeholders";
@import "theming";
@import "base/index";
@import "components/index";
@import "../../node_modules/bootstrap/scss/carousel.scss";
// *{
//   outline: 1px solid red !important;
// }
body {
  &.body-overflow {
    overflow: hidden !important;
    height: 100%;
    width: 100%;
    // position: fixed !important;
    .sidenav__logo {
      z-index: 10;
    }

    .sidenav__container {
      overflow: auto;
    }

    .sidenav_blue_container {
      // padding-bottom: 170px;
    }
  }

  .container {
    // @media (min-width: 576px) {
    //   max-width: 540px
    // }
    // @media (max-width: 575px) {
    //   max-width: 100%;
    // }
  }

  &.body-booking-overflow {
    overflow: hidden !important;
    height: 100%;
    width: 100%;
    position: fixed !important;

    .sidenav__logo {
      z-index: 10;
    }

    .sidenav__container {
      overflow: auto;
    }
  }

  .container {
    // @media (min-width: 576px) {
    //   max-width: 540px
    // }
    // @media (max-width: 575px) {
    //   max-width: 100%;
    // }
  }

  .cursor {
    display: none;
  }

  &.hide-cursor {
    * {
      cursor: none !important;
    }

    .cursor {
      display: block;
    }
  }
}

.header-container {
  width: 100%;
}

.btn-primary {
  position: relative;

  * {
    position: relative;
    z-index: 1;
  }

  &:before {
    content: '';
    display: block;
    width: 0;
    height: 100% !important;
    background-color: #2B27DA;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: width .7s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &:hover {
    background: transparent !important;
    background-color: transparent !important;

    &:before {
      width: 100%;
    }
  }
}

.container,
.header-container {
  // @media (min-width: 1200px){
  //   max-width: 1200px;
  //   width: 1200px;
  // }
  max-width: 100%;
  width: 100%;
  @media (min-width: $size-lg) and (max-width: 1400px) {
    max-width: 90%;
    width: 90%;
  }
  @media all and (min-width: 1401px) {
    max-width: 1370px !important;
    // max-width: 1170px !important;
    width: 1370px;
  }
}

.header-container {
  width: 100%;
}

.container,
.header-container {
  // @media (min-width: 1200px){
  //   max-width: 1200px;
  //   width: 1200px;
  // }
  max-width: 100%;
  width: 100%;
  @media (min-width: $size-lg) and (max-width: 1400px) {
    max-width: 90%;
    width: 90%;
  }
  @media all and (min-width: 1401px) {
    max-width: 1370px !important;
    // max-width: 1170px !important;
    width: 1370px;
  }
}

// background image
.bg-image {
  background-image: url('/../../../../assets/images/pattern-events-left.svg');
  background-repeat: no-repeat;
  background-position: -1vw -16vw;
  background-size: 22vw;
  @media (max-width: $size-ipad) {
    background: white;
    background-image: none;
  }
}

.info-container {
  position: relative;
  @media screen and (min-width: 1100px) {
    &:after, &:before {
      content: '';
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &:after {
      background-image: url('~/assets/images/pattern-content-top.svg');
      background-position: top right;
    }
    &:before {
      background-image: url('~/assets/images/pattern-content-bottom.svg');
      background-position: bottom right;
    }
  }
}

.container {
  // max-width: 1380px;
  position: relative;
  z-index: 1;
  @media (max-width: 767px) {
    width: 100%;
    max-width: 100%;
  }
}

.mat-drawer-content {
  overflow: unset !important;
}

svg {
  //width: initial !important;
  //height: initial !important;
}

:focus {
  outline: none;
}

button:focus {
  outline: none;
}

//button, a {
//*:not(button) {
//  pointer-events: none;
//}
//}

.slide-primary .btn-primary {
  color: $app-primary;
  background: #fff;

  &:hover {
    background: #3531FF;
    color: #FFFFFF;
  }

  &:active {
    background: #2824D2;
    color: #FFFFFF;
  }
}

.slide-primary .price {
  color: #fff !important;
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}

//reset Material style for page Contacts select
.contacts {
  form {
    .mat-form-field.mat-focused .mat-form-field-label,
    .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      font-size: 0 !important;

      ::ng-deep {
        font-size: 0 !important;
      }
    }

    .mat-form-field-label {
      margin: 0 !important;
      top: 31px;
      left: 15px;
    }

    .mat-select-trigger {
      padding: 11px 15px;
      border: 1px solid $app-border;
      box-sizing: border-box;
      border-radius: 3px;

      &:focus {
        border: 1px solid $app-primary;
      }
    }

    .mat-form-field-infix {
      border: 0;
    }

    .mat-form-field-underline {
      display: none;
    }
  }
}

// .mat-select-panel-wrap {
//     position: relative;
//     top: 50px;
//     width: 100%;
//     flex-basis: 100% !important;
//     left: 16px;
//     box-sizing: border-box;
//     @media all and (max-width: $size-ipad) {
//         left: 5px;
//     }
// }

// .mat-select-panel {
//     min-width: auto!important;
//     max-width: none!important;
//     width: 100%!important;
// }

.mat-select-panel-wrap {
  position: relative;
  // top: 50px;
  width: 100%;
  // flex-basis: 87% !important;
  // left: 40px;
  @media all and (max-width: $size-ipad) {
    // left: 5px;
  }
}

.plyr__control--overlaid {
  background: #fff;
  color: rgb(49, 21, 227);
}

.plyr__control.plyr__tab-focus {
  box-shadow: 0 0 0 5px #2b27da;
  outline: 0;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
  background: #fff;
  color: rgba(47, 19, 220, 0.67);
}

.plyr--full-ui input[type=range] {
  color: #2b27da;
}

.btn-eye {
  width: 24px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 33px;
  right: 10px;
}

.other-categories {
  background-color: $app-white;
  width: 256px;
  transition: all .5s ease;
  padding: 0;
  list-style: none;
  margin: 0;

  li {
    &.active {
      .mat-menu-item {
        color: $app-primary;
      }
    }

    .mat-menu-item {
      position: relative;
      color: $app-darken;
      transition: color .5s ease;
      height: auto;
      font-size: 1rem;
      line-height: inherit;
      padding: 12px 15px;

      &:hover {
        color: $hover-menu-item;
      }
    }
  }
}

.category-icon {
  display: none;
  @media all and (max-width: $size-md) {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 5px;
  }

  svg {
    path,
    circle {
      fill: #FFFFFF !important;
      color: #FFFFFF !important;
      stroke: #FFFFFF !important;
    }
  }
}

.heart {
  background-color: $app-white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  z-index: 1;
  top: 24px;
  right: 24px;
  box-sizing: border-box;
  padding-top: 2px;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    transition: all 0.3s ease;

    svg {
      width: auto;
      height: auto;

      path {
        fill: #2B27DA;
        stroke: transparent;
      }
    }
  }

  svg {
    margin: auto;
    transition: all 0.3s ease;
    width: auto;
    height: auto;

    path {
      fill: #A5ADB6;
    }
  }
}

.redirect {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
}

.heart.liked {
  background: #2B27DA;
  transition: all 0.3s ease;

  svg {
    path {
      fill: #ffffff;
      stroke: transparent;
    }
  }
}

.timer-block {
  .timer {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 19px;
    color: #2B27DA;
  }
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: $app-alert;
  border-radius: 100%;
  height: 24px;
  width: 24px;
  font-size: 1rem;
  color: $app-white;
  top: -12px;
  right: -12px;
  @media all and (max-width: $size-iphone) {
    right: inherit;
    left: inherit;
    top: inherit;
    position: relative;
    display: flex;
    background: transparent;
    font-weight: 700;
    margin-left: 2.5px;
    &:before {
      content: '(';
      display: block;
    }
    &:after {
      content: ')';
      display: block;
    }
  }
}

.seat {
  stroke: transparent !important;
  stroke-width: 2px !important;
  transition: .3s all !important;
}

.stickToTop {
  top: 0 !important;
}

.booking-info-modal-panel {
  width: 90%;
  overflow: auto;
  @media all and (max-width: $size-ipad) {
    width: 395px;
  }
  @media all and (max-width: $size-iphone) {
    padding: 15px;
  }

  .mat-dialog-container {
    @media all and (max-width: $size-iphone) {
      padding: 15px;
    }
  }
}

.cancel-reservation-modal-panel {
  @media all and (max-width: $size-iphone) {
    width: 100%;
    padding: 0;
  }

  .mat-dialog-container {
    padding: 56px 24.75% 64px;
    position: relative;
    @media all and (max-width: $size-ipad) {
      padding: 45px 15% 55px;
    }
    @media all and (max-width: $size-iphone) {
      padding: 38px 15px 15px;
    }
  }
}

.barcode-modal-panel {
  max-height: 90vh;
  max-width: 90vw !important;

  .mat-dialog-container {
    background: #fbfbfb !important;
    @media (max-width: $size-iphone) {
      padding: 24px;
    }
  }
}

.barcode-modal-mobile-panel {
  max-width: 100vw !important;
  max-height: 100vh;

  .mat-dialog-container {
    background: #fbfbfb !important;
    padding: 0;
    border-radius: 0;
  }
}

.login-panel {
  .mat-dialog-container {
    padding: 0;
    @media (max-width: $size-iphone) {
    }
  }
}

.city-modal-panel {
  @media (max-width: $size-iphone) {
    width: 100% !important;
    max-width: 100vw !important;
    height: 100%;
    .mat-dialog-container {
      padding: 0;
      border-radius: 0;
    }
  }
}

.buy-booked-ticket-modal-panel {
  @media (max-width: $size-iphone) {
    .mat-dialog-container {
      padding: 15px;
    }
  }
}

.reservation-info-ticket-modal {
  .mat-dialog-container {
    background: #fbfbfb !important;
  }
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;

  svg {
    width: 150px;
    height: 150px;
  }
}
