@import "../../scss/variables";

:host {
  min-height: 700px;
  @media all and (min-width: $size-ipad){
    height: calc(100vh - #{$app-header-h});
  }

  ::ng-deep {
    .mat-stepper-horizontal .mat-horizontal-content-container {
      padding: 0;
    }
    .mat-stepper-horizontal{
      .mat-horizontal-content-container{
        .mat-horizontal-stepper-content{
          .second-step,.third-step{
            padding-top: 50px;
            position: relative;
            z-index: 20;
            @media all and (max-width: $size-ipad) {
              flex-direction: inherit;
              overflow: auto;
              .col-12{
                flex-wrap: wrap;
              }
              app-booking-selected-places{
                ::ng-deep{
                  .event-title{
                    margin-left: 0;
                  }
                  .event-date{
                    background-position: 0 4px !important;
                  }
                }
              }
            }
            @media all and (max-width: $size-ipad) {
              height: 100vh;
            }
            @media all and (max-width: $size-iphone) {
              app-booking-selected-places{
                ::ng-deep{
                  .event-date{
                    background-position: 0 5px !important;
                  }
                }
              }
            }
            @media all and (max-width: $size-ipad) {
              padding-top: 0;
              .container{
                width: 100%;
                max-width: 100%;
              }
              .col-12{
                padding: 0;
              }
              app-booking-selected-places{
                ::ng-deep{
                  .event-title{
                    margin-left: 0;
                  }
                  .event-location{
                    img{
                      margin: 0 15px 0 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  
    .mat-horizontal-stepper-header-container {
      position: absolute;
      top: 0;
      left: 20%;
      height: $app-header-h;
      -webkit-transform: translateX(50%);
      transform: translateX(calc(50% - 140px));
      z-index: 2;
      @media all and (max-width: 1580px){
        left: 20%;
      }
      @media all and (max-width: 1400px){
        left: 13%;
      }
      @media all and (max-width: $size-lg) {
        // left: 100px;
      }
      @media all and (max-width: $size-ipad) {
        background: #ffffff;
        right: inherit;
        transform: inherit;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
        height: auto;
        overflow: auto;
        left: 0;
        width:100%;
        padding: 0 5px;
        box-sizing: border-box;
        display: block !important;
        position: absolute;
        top: 72px;
        z-index: 99;
        top: 100px;
        text-align: center;
      }
      @media all and(max-width: $size-md){
        // z-index: 2;
      }
      @media all and(max-width: $size-iphone){
        top: 96px;
      }
      &::-webkit-scrollbar {
        height: 5px;
        cursor: grab;
      }

      &::-webkit-scrollbar-track {
        box-shadow: none;
        border-radius: 10px;
        cursor: grab;
      }

      &::-webkit-scrollbar-thumb {
        background: $app-primary;
        border-radius: 10px;
        cursor: grab;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: $app-primary;
        cursor: grab;
      }
  
      .mat-horizontal-stepper-header{
        margin: 0;
        padding: 0 55px 0 15px;
        @media all and (max-width: 1580px) {
          padding: 0 40px 0 15px;
        }
        @media all and (max-width: $size-ipad) {
          padding:6px 0 6px 10px;
          background: transparent;
          width: auto;
          height: auto;
          margin: 0;
          display: inline-flex;
        }
  
      }
      .mat-step-header{
        @media all and (max-width: $size-ipad) {
          border: 0;
        }
        &:last-child{
          pointer-events: none !important;
        }
        .mat-step-icon {
          border: 2px solid $app-grey;
          background-color: $app-grey;
          color: $app-border;
        }
        .mat-step-label{
          color: $app-border;
          @media all and (max-width: $size-ipad){
            padding-right: 30px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            min-width: auto;
            width: auto;
            text-overflow: inherit;
            overflow: inherit;
            white-space: inherit;
          }
          &:before{
            content: "\f054";
            font-family: 'FontAwesome', sans-serif;
            display: block;
            color: $app-border;
            position: absolute;
            right: 15px;
            top: 50%;
            margin-top: -10px;
            @media all and (max-width: $size-ipad){
              right: inherit;
              position: relative;
              top: 7px;
              left: 21px;
            }
          }
          .mat-step-text-label{
            overflow: inherit;
            text-overflow: inherit;
          }
        }
        .mat-step-label-selected{
          &:before{
            color: $app-primary;
          }
        }
        &:last-child{
          .mat-step-label{
            padding: 0 15px 0 15px;
            &:before{
              display: none;
            }
          }
        }
        .mat-step-icon-selected,
        .mat-step-icon-state-done,
        .mat-step-icon-state-edit {
          background-color: $app-white;
          border-color: $app-primary;
          color: $app-primary;
        }
      }
    }
  
  
  
  
    .mat-step-header .mat-step-label.mat-step-label-active,
    .mat-step-header .mat-step-label.mat-step-label-selected {
      color: $app-primary;
    }
  
    .mat-stepper-horizontal-line {
      display: none;
    }
  }
}
mat-sidenav-container{
  ::ng-deep{
    app-header{
      display: block;
      width: 100%;
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.09);
      position: relative;
      z-index: 1;
      @media all and (max-width: $size-ipad){
        display: none;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
      }
      ::ng-deep{
        header{
          position: inherit !important;
          box-shadow: none !important;
          .profile{
          }
          .phone-number{
            @media all and (max-width: $size-ipad){
              display: none  !important;
            }
          }
        }
        
      }
    }
    .booking-wrapper{
      // height: 100vh;
      // position: fixed;
      // top: 0;
      // bottom: 0;
      // left: 0;
      // right: 0;
      // width: 100vw;
      // @media (min-width: $size-ipad) {

      // }
      @media all and (min-width: $size-ipad){
        height: calc(100vh - #{$app-header-h});
      }
    }
  }
}

.timer{
  position: absolute;
  top: 0;
  padding: 0 30px;
  left: 50%;
  transform: translateX(-50%);
  @media all and (max-width: $size-ipad){
    z-index: 201;
  }
  .timer-wrapper {
    position: absolute;
    top: 0;
    right: 245px;
    padding: 0 15px;
    height: 72px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #FF3636;
    z-index: 3;
    font-weight: 700;
    @media all and (max-width: 1580px) {
      right: 278px;
    }
    @media all and (max-width: $size-lg) {
      right: 120px;
    }
    // @media all and (max-width: $size-ipad) {
    //   padding: 10px 15px;
    //   right: 0;
    //   width: auto;
    // }
    @media all and (max-width: $size-ipad){
      width: auto;
      height: auto;
      font-size: 12px;
      padding: 13px 3px;
      top: 56px;
      right: 10px;
      font-weight: 700;
      mat-icon{
        width: 12px;
        height: 12px;
        font-size: 12px;
      }
    }
    @media all and (max-width: $size-iphone){
      padding: 6px 3px;
      top: 66px;
    }
    @media all and (max-width: $size-old-phone){
      right: 0;
    }
  }
}

.wrapper-overlay {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-color: rgba(255, 255, 255, 0.574);
  }
}

.stepper-content {
  height: calc(100vh - #{$app-header-h});
  display: flex;
  justify-content: center;
  @media all and (max-width: $size-ipad){
    // min-height: calc(100vh - 72px);
    height: 100vh;
    // flex-direction: column-reverse;Ivan
    padding-top: 0;
    // padding-top: 44px;
    // justify-content: flex-end;Ivan

    flex-direction: column;
    justify-content: flex-start;
  }
  @media all and (max-width: $size-md){
  }
}
.third-step{
  padding-bottom: 30px;
  @media all and (max-width: $size-ipad){
    padding-top: 60px;
  }
  .row{
    // height: calc(100% - 60px);
    .col-12{
      @media all and (max-width: $size-ipad){
        flex-wrap: wrap;
      }
    }
    app-booking-selected-places{
      min-width: 25%;
      width: 25%;
      &.third-step-selected{
        ::ng-deep{
          @media all and (max-width: $size-ipad-pro){
            margin-bottom: 42px;
          }
          @media all and (max-width: $size-md){
            // margin-bottom: 47px;
          }
          @media all and (max-width: $size-old-phone){
            margin-bottom: 42px;
          }
        }
      }
      ::ng-deep{
        @media all and (max-width: $size-ipad){
          min-width: 100%;
          width: 100%;
        }
        @media all and (max-width: $size-md){
          margin-bottom: 90px;
        }

        .btn-back{
          @media all and (max-width: $size-ipad){
            display: none;
          }
        }
      }

    }
    app-booking-user-data{
      min-width: 40%;
      width: 40%;
      padding: 0 0;
      margin: 0 30px;
      @media all and (max-width: $size-ipad){
        display: none;
      }
      ::ng-deep{
        form{
          min-width: 100%;
          margin: 0;
          padding: 0 70px;
          width: 100%;
          mat-button-toggle-group,.form-group, .btn-link, .payment-summary{
            width: 100%;
            min-width: 100%;
          }
        }
      }
    }
    app-booking-payment{
      width: 100%;
      // height: 829px;
      // height: calc(100vh - #{$app-header-h} - 90px);
      // overflow: auto;
      &.third-step-payment{
        @media all and (max-width: $size-ipad){
          // height: calc(100vh - 170px);
          position: fixed;
          z-index: 30;
          top: 137px;
          bottom: 0;
          padding-top: 20px;
        }
        @media all and (max-width: 767px){
          // height: calc(100vh - 230px);
          overflow: auto;
        }
        @media all and (max-width: 420px){
          // height: calc(100vh - 250px);
        }
        @media all and (max-width: 375px){
          // height: calc(100vh - 208px);
        }
        @media all and (max-width: $size-old-phone){
          overflow: auto;
          padding-right: 10px;
          padding-left: 10px;
        }
      }
    }
  }
}
