<mat-sidenav-container *ngIf="(event$ | async) && activeSell && (event$ | async).id === newEventId">
    <app-header></app-header>
    <div class="container timer" *ngIf="showTimer">
        <div class="timer-wrapper">
            <mat-icon>hourglass_empty</mat-icon>
            <app-timer [timerTo]="timerTo" [isEventBookingTimer]="true" (finished)="onTimerFinished()"
                [eventId]="eventId">
            </app-timer>
        </div>
    </div>
    <div class="booking-wrapper">
        <mat-horizontal-stepper [linear]="true" #stepper (selectionChange)="onStepChange($event)">

            <mat-step label="{{'Choice of seats' | translate}}" [editable]="editableDisable"
                [stepControl]="firstFormGroup">
                <div class="stepper-content">
                    <app-booking-hall-map [lang]="lang$ | async" [isSelectedSeat]="isSelectedSeat" [eventId]="eventId"
                        [bin]="bin" [event]="event$ | async" (emitColorPrices)="onGetColorPrices($event)">
                    </app-booking-hall-map>
                    <app-booking-cart [isSelectedSeat]="isSelectedSeat" [stepperRef]="stepper" [event]="event$ | async"
                        [bin]="bin" [price]="price$ | async" [form]="firstFormGroup"
                        (selectionChanged)="onSelectionChange($event)" (removedTicket)="onRemoveTicket($event, null)">
                    </app-booking-cart>
                </div>
            </mat-step>

            <mat-step label="{{'Ordering' | translate}}" [editable]="editableDisable" [stepControl]="secondFormGroup">
                <div class="stepper-content second-step">
                    <div class="container ">
                        <div class="row">
                            <div class="col-12 d-flex">
                                <app-booking-selected-places [event]="event$ | async" [bin]="bin">
                                </app-booking-selected-places>
                                <app-booking-user-data [price]="price$ | async" [eventData]="event$ | async" [bin]="bin"
                                    [form]="secondFormGroup" [lang]="lang$ | async" [eventId]="eventId"
                                    (buy)="onBuy()" (promoCode)="onPromoCode($event)">
                                </app-booking-user-data>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-step>
            <mat-step label="{{'Payment' | translate}}" [editable]="editableDisable" [stepControl]="thirdFormGroup">
                <div class="stepper-content third-step">
                    <div class="container ">
                        <div class="row">
                            <div class="col-12 d-flex">
                                <app-booking-selected-places [event]="event$ | async" [bin]="bin"
                                    class="third-step-selected">
                                </app-booking-selected-places>

                                <app-booking-user-data [isReadOnly]="true" [lang]="lang$ | async"
                                    [price]="price$ | async" [bin]="bin" [form]="secondFormGroup" [eventId]="eventId"></app-booking-user-data>

                                <app-booking-payment [price]="price$ | async" [form]="thirdFormGroup"
                                    [iframeSrc]="iframeSrc" class="third-step-payment"></app-booking-payment>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-step>


        </mat-horizontal-stepper>
    </div>
</mat-sidenav-container>
