:host {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 130px;
  height: 75px;
  padding: 10px;
  color: #fff;
  background: #405468;
  border-radius: 3px;
  opacity: 0;
  z-index: 100;
  &:after {
    content: '';
    position: absolute;
    left: calc(50% - 10px);
    bottom: -8px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #405468;;
  }
}

.title {
  font-size: 0.75rem;
}

.sector {
  font-size: 0.75rem;
  overflow: hidden;
}
.price {
  font-size: 0.88rem;
}
