<div class="title-wrapper">
  <div class="title"><b>{{"Row" | translate}} {{ data?.rowNumber }}, {{"a place" | translate}} {{ data?.seatPosition }}</b></div>
  <div class="sector">{{ data?.sectorName }}</div>
</div>
<div class="price">
  <b>{{ data?.price }}</b> {{ 'hrn' | translate }}
</div>
